#visual {
	position: relative;
	background-image: url("../image/brand_visual.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 285px;
	margin-top: 103.28px;
}

#headline {
	filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.902));
	top: 140px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	overflow: visible;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 43px;
	color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1440px) {
	#visual {
		height: 152px;
		margin-top: 52.7px;
	}

	#headline {
		top: 70px;
		font-size: 30px;
	}
}

#smallmenu {
	position: relative;
	width: 100%;
	height: 52px;
}

#home-black-18dp_cfg {
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 23.2%;
	top: 18px;
	overflow: visible;
}

#home {
	fill: transparent;
}

.home {
	overflow: visible;
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home1 {
	fill: rgba(140, 133, 125, 1);
}

.home1 {
	overflow: visible;
	position: absolute;
	width: 14.891px;
	height: 12.657px;
	left: 1.489px;
	top: 2.233px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home2 {
	fill: transparent;
	stroke: rgba(140, 133, 125, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.home2 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 12px;
	left: 24.7%;
	top: 21.5px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#smallmenu_cake {
	left: 25.2%;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	color: rgba(140, 133, 125, 1);
}

#smallmenu_arrow01 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 29.1%;
	top: 18px;
	overflow: visible;
}

#arrow1 {
	fill: rgba(140, 133, 125, 1);
}

.arrow1 {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#arrow2 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.arrow2 {
	overflow: visible;
	position: absolute;
	width: 7.303px;
	height: 4.941px;
	left: 6.186px;
	top: 7.512px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 1440px) {
	#smallmenu {
		margin: 0 auto;
		max-width: 300px;
		box-sizing: border-box;
	}

	#home-black-18dp_cfg {
		left: 0;
	}

	.home2 {
		left: 8%;
	}

	#smallmenu_cake {
		left: 15%;
	}

	#smallmenu_arrow01 {
		left: 45%;
	}

	#smallmenu_arrow02 {
		left: 90%;
	}
}

#section {
	position: relative;
	max-width: 1396px;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
	margin-bottom: 150px;
	display: block;
}

#bg01 {
	position: absolute;
	left: 37%;
	top: 50%;
}

#bg02 {
	position: absolute;
	left: -20%;
	top: 65%;
	overflow-x: hidden !important;
}

#bg03 {
	position: absolute;
	left: 89%;
	top: 77%;
	overflow-x: hidden !important;
}

#bg04 {
	position: absolute;
	left: -20%;
	top: 88%;
}

article {
	position: relative;
}

#img01 {
	margin-top: 86px;
}

#headline01 {
	display: block;
	line-height: 54px;
	margin-top: 50px;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 37px;
	color: rgba(115, 2, 32, 1);
}

#body01 {
	display: inline-block;
	line-height: 40px;
	margin-top: 38px;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	color: rgba(38, 11, 1, 1);
}

#img02 {
	margin-top: 27px;
}

#body02 {
	display: block;
	margin-top: 97px;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	color: rgba(38, 11, 1, 1);
}

#body03 {
	line-height: 54px;
	margin-top: -14.5px;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	color: rgba(38, 11, 1, 1);
}

#content1, #content2, #content3 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#content1 .imgstory:nth-child(1) {
	margin-top: 100px;
	float: right;
	padding-right: 60px;
}

#content3 .imgstory:nth-child(1) {
	padding-right: 60px;
}

.textstory {
	margin: auto 0;
	text-align: left;
	width: 600px;
}

.textstory span:nth-of-type(1) {
	width: 591px;
	text-align: left;
	line-height: 33px;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	color: rgba(115, 2, 32, 1);
}

p {
	text-align: left;
	line-height: 33px;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	color: #260B01;
}

.textstory span:nth-of-type(3) {
	display: inline-block;
}

@media screen and (max-width: 1440px) {
	#bg01, #bg02, #bg03, #bg04 {
		display: none;
	}

	#section {
		max-width: 285px;
	}

	#img01 {
		width: 285px;
	}

	#headline01 {
		line-height: 28px;
		margin-top: 33px;
		font-size: 18px;
	}

	#body01 {
		line-height: 26px;
		margin-top: 18px;
		font-size: 16px;
	}

	#img02 {
		width: 285px;
		margin-top: 27px;
	}

	#body02 {
		margin-top: 50px;
		font-size: 16px;
	}

	#body03 {
		display: block;
		line-height: 26px;
		margin-top: 10px;
		font-size: 16px;
	}

	#content1, #content2, #content3 {
		display: grid;
		grid-template-columns: 1fr;
	}

	#content1 .imgstory:nth-child(1) {
		margin-top: 80px;
		float: inherit;
		padding-right: 0px;
	}

	#content2 .imgstory:nth-child(2) {
		margin-top: 0px;
		float: inherit;
		padding-right: 0px;
	}

	#content3 .imgstory:nth-child(1) {
		padding-right: 0px;
	}

	.imgstory {
		width: 285px;
		margin-bottom: 20px;
	}

	.textstory {
		max-width: 286px !important;
		margin-bottom: 25px;
	}

	.textstory span:nth-of-type(1) {
		margin-top: 20px !important;
		font-size: 23px;
		color: rgba(115, 2, 32, 1);
	}

	p {
		margin-top: -10px;
	}

	#content2 {
		display: flex;
		flex-direction: column;
		/* 세로로 정렬하겠다는 의미 */
	}

	#content2 .textstory {
		order: 2
	}
}
