#visual {
	position: relative;
	background-image: url("../image/brand_visual04.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 285px;
	margin-top: 103.28px;
}
@media screen and (max-width: 1440px) {
	#visual {
		height: 152px;
		margin-top: 52.7px;
	}
}

#smallmenu {
	position: relative;
	width: 100%;
	height: 52px;
}

#home-black-18dp_cfg {
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 23.2%;
	top: 18px;
	overflow: visible;
}

#home {
	fill: transparent;
}

.home {
	overflow: visible;
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home1 {
	fill: rgba(140, 133, 125, 1);
}

.home1 {
	overflow: visible;
	position: absolute;
	width: 14.891px;
	height: 12.657px;
	left: 1.489px;
	top: 2.233px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home2 {
	fill: transparent;
	stroke: rgba(140, 133, 125, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.home2 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 12px;
	left: 24.7%;
	top: 21.5px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#smallmenu_cake {
	left: 25.2%;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	color: rgba(140, 133, 125, 1);
}

#smallmenu_arrow01 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 29.1%;
	top: 18px;
	overflow: visible;
}

#arrow1 {
	fill: rgba(140, 133, 125, 1);
}

.arrow1 {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#arrow2 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.arrow2 {
	overflow: visible;
	position: absolute;
	width: 7.303px;
	height: 4.941px;
	left: 6.186px;
	top: 7.512px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 1440px) {
	#smallmenu {
		margin: 0 auto;
		max-width: 300px;
		box-sizing: border-box;
	}

	#home-black-18dp_cfg {
		left: 0;
	}

	.home2 {
		left: 8%;
	}

	#smallmenu_cake {
		left: 15%;
	}

	#smallmenu_arrow01 {
		left: 45%;
	}

	#smallmenu_arrow02 {
		left: 90%;
	}
}

#section {
	position: relative;
	max-width: 1636px;
	margin: 0 auto;
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 150px;
	display: block;
}

#map {
	display: block;
	margin: 100px auto;
	width: 85.2%;
	height: 560px;
	filter: drop-shadow(0px 3px 99px rgba(0, 0, 0, 0.129));
}

.addbg {
	z-index: 5!important;
	margin: 0px auto;
	margin-top: -150px !important;
	background: rgba(52, 64, 34, 1);
	width: 77%;
	height: 335px;
	border-radius: 17px;
}

.addbg span {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	color: rgba(255, 255, 255, 1);
}

#TELFAX {
	display: block;
	font-size: 20px;
	color: rgba(255, 255, 255, 1);
}

.number {
	text-align: center;
	font-size: 24px;
	color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1440px) {
	#section {
		max-width: 290px;
	}

	#map01 {
		width: 100vw;
		position: relative;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
	}

	.addbg {
		position: relative;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
		width: 100vw;
		height: 198px;
		border-radius: 0px;
	}

	.addbg span {
		position: absolute;
		top: 100px;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 120px !important;
		font-size: 16px;
		width: 265px;
		text-align: center;
	}

	#TELFAX {
		position: absolute;
		top: -90px;
		left: 50%;
		margin-top: 0px;
		font-size: 16px;
	}

	.number {
		position: absolute;
		top: 0px !important;
		left: 50%;
		width: 150px !important;
		font-size: 16px;
		width: 265px;
	}
}
