#visual {
	position: relative;
	background-image: url("../image/brand_visual03.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 285px;
	margin-top: 103.28px;
}

#headline {
	filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.902));
	top: 140px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	overflow: visible;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 43px;
	color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1440px) {
	#visual {
		height: 152px;
		margin-top: 52.7px;
	}

	#headline {
		top: 70px;
		font-size: 30px;
	}
}

#smallmenu {
	position: relative;
	width: 100%;
	height: 52px;
}

#home-black-18dp_cfg {
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 23.2%;
	top: 18px;
	overflow: visible;
}

#home {
	fill: transparent;
}

.home {
	overflow: visible;
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home1 {
	fill: rgba(140, 133, 125, 1);
}

.home1 {
	overflow: visible;
	position: absolute;
	width: 14.891px;
	height: 12.657px;
	left: 1.489px;
	top: 2.233px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home2 {
	fill: transparent;
	stroke: rgba(140, 133, 125, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.home2 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 12px;
	left: 24.7%;
	top: 21.5px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#smallmenu_cake {
	left: 25.2%;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	color: rgba(140, 133, 125, 1);
}

#smallmenu_arrow01 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 29.1%;
	top: 18px;
	overflow: visible;
}

#arrow1 {
	fill: rgba(140, 133, 125, 1);
}

.arrow1 {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#arrow2 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.arrow2 {
	overflow: visible;
	position: absolute;
	width: 7.303px;
	height: 4.941px;
	left: 6.186px;
	top: 7.512px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 1440px) {
	#smallmenu {
		margin: 0 auto;
		max-width: 300px;
		box-sizing: border-box;
	}

	#home-black-18dp_cfg {
		left: 0;
	}

	.home2 {
		left: 8%;
	}

	#smallmenu_cake {
		left: 15%;
	}

	#smallmenu_arrow01 {
		left: 45%;
	}

	#smallmenu_arrow02 {
		left: 90%;
	}
}

#section {
	position: relative;
	max-width: 1396px;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
}

#bg08 {
	position: absolute;
	left: 86.8%;
	top: 30%;
}

#bg09 {
	position: absolute;
	transform: matrix(1, 0, 0, 1, 934.8516, 1256.5192) rotate(33deg);
	transform-origin: center;
	left: -26%;
	top: -40%;
}

#bg10 {
	position: absolute;
	left: -20%;
	top: 70%;
}

article {
	position: relative;
	text-align: left;
	margin-top: 50px;
}

#HANS_space {
	display: block;
	margin-bottom: 20px;
	font-family: Louis George Café;
	font-style: normal;
	font-weight: 900;
	font-size: 45px;
	color: rgba(38, 11, 1, 1);
}

#text03 {
	display: block;
	margin-top: 30px;
	line-height: 33px;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	color: rgba(115, 2, 32, 1);
}

#storestory1 p {
	display: block;
	margin-top: -10px;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: rgba(38, 11, 1, 1);
}

#storestory2 {
	margin-top: 90px;
}

#content1, #content2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.textstory {
	margin: auto 0;
	margin-left: 50px;
	width: 600px;
}

.textstory p {
	line-height: 33px;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: rgba(38, 11, 1, 1);
}

.textstory span {
	line-height: 45px;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	color: rgba(115, 2, 32, 1);
}

@media screen and (max-width: 1440px) {
	#section {
		max-width: 286px;
	}

	#bg08, #bg09, #bg10 {
		display: none;
	}

	section img {
		width: 285px;
	}

	article {
		margin-top: 30px;
	}

	#HANS_space {
		font-size: 18px;
	}

	#text03 {
		line-height: 30px;
		font-size: 20px;
		margin-top: 5px;
	}

	#storestory1 p {
		display: block;
		margin-top: -30px;
		font-size: 16px;
	}

	#storestory2 {
		margin-top: 70px;
	}

	#content2 {
		margin-top: 0px;
		display: flex;
		flex-direction: column;
	}

	#content2 .textstory {
		order: 1;
	}

	#content1, #content2 {
		grid-template-columns: 1fr;
	}

	.imgstory {
		display: block;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.textstory {
		margin: auto 0;
		margin-left: 0px;
		width: 285px;
	}

	.textstory p {
		margin-top: 0px;
		line-height: 25px;
		font-size: 16px;
	}

	.textstory span {
		line-height: 30px;
		font-size: 20px;
	}
}
