#visual {
	position: relative;
	background-image: url("../image/news_visual.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 285px;
	margin-top: 103.28px;
}
@media screen and (max-width: 1440px) {
	#visual {
		height: 152px;
		margin-top: 52.7px;
	}
}

#smallmenu {
	position: relative;
	width: 100%;
	height: 52px;
}

#home-black-18dp_cfg {
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 23.2%;
	top: 18px;
	overflow: visible;
}

#home {
	fill: transparent;
}

.home {
	overflow: visible;
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home1 {
	fill: rgba(140, 133, 125, 1);
}

.home1 {
	overflow: visible;
	position: absolute;
	width: 14.891px;
	height: 12.657px;
	left: 1.489px;
	top: 2.233px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home2 {
	fill: transparent;
	stroke: rgba(140, 133, 125, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.home2 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 12px;
	left: 24.7%;
	top: 21.5px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#smallmenu_cake {
	left: 25.2%;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	color: rgba(140, 133, 125, 1);
}

#smallmenu_arrow01 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 31%;
	top: 18px;
	overflow: visible;
}

#arrow1 {
	fill: rgba(140, 133, 125, 1);
}

.arrow1 {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#arrow2 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.arrow2 {
	overflow: visible;
	position: absolute;
	width: 7.303px;
	height: 4.941px;
	left: 6.186px;
	top: 7.512px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 1440px) {
	#smallmenu {
		margin: 0 auto;
		max-width: 300px;
		box-sizing: border-box;
	}

	#home-black-18dp_cfg {
		left: 0;
	}

	.home2 {
		left: 8%;
	}

	#smallmenu_cake {
		left: 15%;
	}

	#smallmenu_arrow01 {
		left: 45%;
	}

	#smallmenu_arrow02 {
		left: 90%;
	}
}

#section {
	height: 714px;
	position: relative;
	margin: 100px auto;
	box-sizing: border-box;
	background-image: url("../image/customer_snsbg.png");
}

#BEST {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 480px;
	display: block;
	text-align: center;
	font-family: Louis George Café;
	font-style: normal;
	font-weight: 900;
	font-size: 90px;
	color: rgba(115, 2, 32, 1);
	z-index: 1;
}

#snscontents {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 1502px;
	margin: 0 auto;
	box-sizing: border-box;
}

.columns {
	width: 482px;
	margin-top: 70px;
}

.sns {
	margin-bottom: 30px;
}

.instagram_wrap {
	vertical-align: middle;
	margin-bottom: 20px;
	display: flex;
}

.instagram {
	text-align: left;
	font-family: Louis George Café;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	color: rgba(38, 11, 1, 1);
}

.instaicon {
	margin-right: 5px;
}

.instagrambody {
	display: block;
	line-height: 30px;
	margin-top: -1px;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: rgba(38, 11, 1, 1);
}

#morebtn {
	display: block;
	margin: 150px auto;
}

@media screen and (max-width: 1440px) {
	#section {
		height: 1326px;
		margin: 70px auto;
	}

	#BEST {
		top: 300px;
		font-size: 39px;
	}

	#snscontents {
		display: block;
		max-width: 286px;
		margin: 50px auto;
		box-sizing: border-box;
	}

	.columns {
		width: 482px;
		margin-top: 90px !important;
	}

	.sns {
		width: 285px;
		margin-top: 50px;
	}

	.instagram_wrap {
		margin-top: -20px;
		margin-bottom: 10px;
		display: flex;
	}

	.instagram {
		font-size: 13px;
	}

	.instaicon {}

	.instagrambody {
		line-height: 23px;
		font-size: 13px;
	}

	#morebtn {
		width: 38px;
	}
}
