#visual {
	position: relative;
	background-image: url("../image/customer_visual.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 285px;
	margin-top: 103.28px;
}

#headline {
	filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.902));
	top: 140px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	overflow: visible;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 43px;
	color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1440px) {
	#visual {
		height: 152px;
		margin-top: 52.7px;
	}

	#headline {
		top: 70px;
		font-size: 27px;
	}
}

#smallmenu {
	position: relative;
	width: 100%;
	height: 52px;
}

#home-black-18dp_cfg {
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 23.2%;
	top: 18px;
	overflow: visible;
}

#home {
	fill: transparent;
}

.home {
	overflow: visible;
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home1 {
	fill: rgba(140, 133, 125, 1);
}

.home1 {
	overflow: visible;
	position: absolute;
	width: 14.891px;
	height: 12.657px;
	left: 1.489px;
	top: 2.233px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home2 {
	fill: transparent;
	stroke: rgba(140, 133, 125, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.home2 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 12px;
	left: 24.7%;
	top: 21.5px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#smallmenu_cake {
	left: 25.2%;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	color: rgba(140, 133, 125, 1);
}

#smallmenu_arrow01 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 31%;
	top: 18px;
	overflow: visible;
}

#arrow1 {
	fill: rgba(140, 133, 125, 1);
}

.arrow1 {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#arrow2 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.arrow2 {
	overflow: visible;
	position: absolute;
	width: 7.303px;
	height: 4.941px;
	left: 6.186px;
	top: 7.512px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 1440px) {
	#smallmenu {
		margin: 0 auto;
		max-width: 300px;
		box-sizing: border-box;
	}

	#home-black-18dp_cfg {
		left: 0;
	}

	.home2 {
		left: 8%;
	}

	#smallmenu_cake {
		left: 15%;
	}

	#smallmenu_arrow01 {
		left: 45%;
	}

	#smallmenu_arrow02 {
		left: 90%;
	}
}

#section {
	position: relative;
	max-width: 1396px;
	margin: 0 auto;
	box-sizing: border-box;
}

.img01 {
	margin-top: 50px;
}

.img01_mobile {
	display: none;
}

form {
	margin-top: 30px;
	margin-bottom: 10px;
	width: 100%;
	height: 102px;
	background-color: rgba(140, 133, 125, 0.15);
}

.searchbg {
	text-align: center;
	display: flex;
	margin: 0 auto;
	max-width: 798px;
	box-sizing: border-box;
}

#allbtn {
	margin-top: 25px;
}

form.example input[type=text] {
	width: 608px;
	height: 52px;
	font-size: 17px;
	border: none;
	background: #fff;
	padding-left: 10px;
	margin-top: 25px;
}

form.example button {
	border: none;
	outline: none;
	cursor: pointer;
	margin-top: 25px;
}

#qna_container {
	text-align: center;
}

.qnaname {
	display: inline-block;
	border: 1px solid #8C857D;
	border-radius: 10px;
	margin: 5px;
	width: 445px;
	padding: 50px 0px;
	white-space: nowrap;
	line-height: 37px;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	color: rgba(38, 11, 1, 1);
}

@media screen and (max-width: 1440px) {
	#section {
		max-width: 286px;
	}

	.img01 {
		display: none;
	}

	.img01_mobile {
		display: block;
	}

	form {
		margin-top: 20px;
		height: 50px;
	}

	.searchbg {
		max-width: 260px;
	}

	#allbtn {
		width: 63px;
		height: 33px;
		margin-top: 8px;
	}

	form.example input[type=text] {
		width: 150px;
		height: 33px;
		font-size: 13px;
		margin-top: 8px;
	}

	form.example button img {
		display: inline-block;
		width: 33px;
		height: 33px;
		margin-top: -16px;
	}

	#qna_container {
		text-align: center;
	}

	.qnaname {
		float: left;
		width: 130px !important;
		padding: 5px 3px;
		margin: 2.5px;
		font-size: 13px;
	}
}

table {
	margin-top: 50px;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	color: #260B01;
	border-top: 2px solid #260B01;
	border-collapse: collapse;
	width: 1395px;
}

#show {
	text-decoration: none;
	color: #260B01;
}

#show:hover {
	color: #730220;
}

td, th {
	border-bottom: 1px solid #8C857D;
	padding: 30px;
}

td:hover {
	color: #730220;
	cursor: pointer;
}

#hide {
	background-color: #f2f2f2;
	padding-top: 40px;
}

@media screen and (max-width: 1440px) {
	table {
		display: block;
		margin-top: 210px;
		font-size: 16px;
		width: 286px;
	}

	td, th {
		padding: 10px;
	}
}

.pagination {
	margin: 50px auto;
	max-width: 200px;
	box-sizing: border-box;
	text-align: center;
}

.pagination a {
	color: rgba(38, 11, 1, 1);
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
}

.pagination a.active {
	background-color: #73352F;
	color: white;
	border-radius: 5px;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
}

@media screen and (max-width: 1440px) {
	.pagination a {
		font-size: 10px;
	}
}
