#visual {
	position: relative;
	background-image: url("../image/customer_visual01.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 285px;
	margin-top: 103.28px;
}
@media screen and (max-width: 1440px) {
	#visual {
		height: 152px;
		margin-top: 52.7px;
	}
}

#smallmenu {
	position: relative;
	width: 100%;
	height: 52px;
}

#home-black-18dp_cfg {
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 23.2%;
	top: 18px;
	overflow: visible;
}

#home {
	fill: transparent;
}

.home {
	overflow: visible;
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home1 {
	fill: rgba(140, 133, 125, 1);
}

.home1 {
	overflow: visible;
	position: absolute;
	width: 14.891px;
	height: 12.657px;
	left: 1.489px;
	top: 2.233px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home2 {
	fill: transparent;
	stroke: rgba(140, 133, 125, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.home2 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 12px;
	left: 24.7%;
	top: 21.5px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#smallmenu_cake {
	left: 25.2%;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	color: rgba(140, 133, 125, 1);
}

#smallmenu_arrow01 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 31%;
	top: 18px;
	overflow: visible;
}

#arrow1 {
	fill: rgba(140, 133, 125, 1);
}

.arrow1 {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#arrow2 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.arrow2 {
	overflow: visible;
	position: absolute;
	width: 7.303px;
	height: 4.941px;
	left: 6.186px;
	top: 7.512px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 1440px) {
	#smallmenu {
		margin: 0 auto;
		max-width: 300px;
		box-sizing: border-box;
	}

	#home-black-18dp_cfg {
		left: 0;
	}

	.home2 {
		left: 8%;
	}

	#smallmenu_cake {
		left: 15%;
	}

	#smallmenu_arrow01 {
		left: 45%;
	}

	#smallmenu_arrow02 {
		left: 90%;
	}
}

#section {
	position: relative;
	max-width: 1396px;
	margin: 0 auto;
	box-sizing: border-box;
	margin-bottom: 200px;
	display: block;
}

.img02 {
	margin-top: 50px;
}

.img02_mobile {
	display: none;
}

@media screen and (max-width: 1440px) {
	#section {
		max-width: 286px;
	}

	.img02 {
		display: none;
	}

	.img02_mobile {
		display: block;
	}
}

.agreewrap {
	max-width: 1162px;
	margin: 0 auto;
	box-sizing: border-box;
}

.agreehead {
	display: block;
	white-space: nowrap;
	line-height: 23px;
	margin: 25px 0;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	color: rgba(140, 133, 125, 1);
}

.agreecontainer {
	border: 1px solid rgba(140, 133, 125, 1);
	margin: 25px 0;
	padding: 15px;
}

.agreebody {
	line-height: 33px;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: rgba(140, 133, 125, 1);
}

#agree {
	width: 19px;
}

#agreetext {
	display: inline-block;
	color: #8C857D;
	margin-bottom: 30px;
}

.line {
	border-bottom: 2px solid rgba(38, 11, 1, 1);
	width: 1393.277px;
	margin-bottom: 45px;
}

@media screen and (max-width: 1440px) {
	.agreehead {
		font-size: 16px;
	}

	.agreebody {
		font-size: 14px;
		line-height: 23px;
	}

	#agreetext {
		font-size: 12px;
	}

	.line {
		width: 286px;
	}
}

#board form .grid2 {
	width: 1062px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0 auto;
}

#board form .grid2 input {
	margin-left: 50px;
	text-align: left;
	display: inline-block;
	border-radius: 0px;
	border-color: #8C857D;
	border-width: 1px;
	outline: none;
	margin-bottom: 25px;
}

#board form .grid3 {
	width: 777px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: 167px;
}

#board form .grid3 input {
	margin-bottom: 25px;
	margin-left: 50px;
}

.formhead {
	text-align: right;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	color: rgba(38, 11, 1, 1);
}

.form01 {
	width: 915.34px;
	height: 49.15px;
	position: relative;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #8C857D;
}

#form02 {
	width: 915.34px;
	height: 220px;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #8C857D;
}

#form03 {
	width: 395.62px;
	height: 49.15px;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #8C857D;
}

#filebtn {
	display: inline-block;
	margin-left: 20px;
}

#form04 {
	width: 395.62px;
	height: 49.15px;
	position: relative;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #8C857D;
}

#secrettext {
	white-space: nowrap;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	color: rgba(140, 133, 125, 1);
}

#secretcheck {
	width: 20px;
	border: 1px solid rgba(140, 133, 125, 1);
}

.submitbtn {
	float: right;
	margin-right: 167px;
	margin-top: 50px;
}

#submit01 {
	display: inline-block;
	border: 0px solid;
	background-color: #344022;
	border-radius: 3px;
	border: none;
	width: 176.93px;
	height: 50.02px;
	cursor: pointer;
	margin-right: 20px;
	font-size: 20px;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #fff;
}

#submit02 {
	display: inline-block;
	border: 0px solid;
	background-color: #344022;
	border-radius: 3px;
	border: none;
	width: 176.93px;
	height: 50.02px;
	cursor: pointer;
	margin-right: 20px;
	font-size: 20px;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #fff;
}

@media screen and (max-width: 1440px) {
	.formhead {
		white-space: nowrap;
		font-size: 12px;
	}

	#board form .grid2 {
		width: 286px;
	}

	#board form .grid2 input {
		margin-left: 20px;
		margin-bottom: 15px;
		width: 226px;
		height: 20px;
		font-size: 12px;
	}

	#board form .grid3 {
		width: 296px !important;
		margin-left: -9px;
	}

	#board form .grid3 .formhead {
		margin-left: 0px;
		width: 34px !important;
	}

	#board form .grid3 input {
		width: 106px !important;
		height: 20px;
		font-size: 12px;
		margin-left: 42px;
		float: left;
	}

	#board form .grid3 .formhead {
		text-align: left;
	}

	#form03 {
		width: 100px !important;
		margin-left: -35px !important;
		/* 	float: left; */
	}

	#form04 {
		width: 100px !important;
		margin-left: -35px !important;
		/* 	float: left; */
	}

	#filebtn {
		width: 80px;
	}

	#secret #secrettext {
		font-size: 13px;
	}

	#secret #secretcheck {
		text-align: left;
		width: 10px !important;
		height: 10px !important;
		margin-left: 10px !important;
	}

	.submitbtn {
		margin-right: -20px;
		margin-top: 30px;
	}

	#submit01 {
		width: 67px;
		height: 20px;
		margin-right: 10px;
		font-size: 13px;
	}

	#submit02 {
		width: 67px;
		height: 20px;
		font-size: 13px;
	}
}
