#visual {
	position: relative;
	background-image: url("../image/customer_visual01.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 285px;
	margin-top: 103.28px;
}

#headline {
	filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.902));
	top: 140px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	overflow: visible;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 43px;
	color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1440px) {
	#visual {
		height: 152px;
		margin-top: 52.7px;
	}

	#headline {
		top: 70px;
		font-size: 27px;
	}
}

#smallmenu {
	position: relative;
	width: 100%;
	height: 52px;
}

#home-black-18dp_cfg {
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 23.2%;
	top: 18px;
	overflow: visible;
}

#home {
	fill: transparent;
}

.home {
	overflow: visible;
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home1 {
	fill: rgba(140, 133, 125, 1);
}

.home1 {
	overflow: visible;
	position: absolute;
	width: 14.891px;
	height: 12.657px;
	left: 1.489px;
	top: 2.233px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home2 {
	fill: transparent;
	stroke: rgba(140, 133, 125, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.home2 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 12px;
	left: 24.7%;
	top: 21.5px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#smallmenu_cake {
	left: 25.2%;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	color: rgba(140, 133, 125, 1);
}

#smallmenu_arrow01 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 31%;
	top: 18px;
	overflow: visible;
}

#arrow1 {
	fill: rgba(140, 133, 125, 1);
}

.arrow1 {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#arrow2 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.arrow2 {
	overflow: visible;
	position: absolute;
	width: 7.303px;
	height: 4.941px;
	left: 6.186px;
	top: 7.512px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 1440px) {
	#smallmenu {
		margin: 0 auto;
		max-width: 300px;
		box-sizing: border-box;
	}

	#home-black-18dp_cfg {
		left: 0;
	}

	.home2 {
		left: 8%;
	}

	#smallmenu_cake {
		left: 15%;
	}

	#smallmenu_arrow01 {
		left: 45%;
	}

	#smallmenu_arrow02 {
		left: 90%;
	}
}

#section {
	position: relative;
	max-width: 1396px;
	margin: 0 auto;
	box-sizing: border-box;
}

.img02 {
	margin-top: 50px;
}

.img02_mobile {
	display: none;
}

table {
	margin-top: 100px;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	color: #260B01;
	border-top: 2px solid #260B01;
	border-collapse: collapse;
	width: 1395px;
}

td, th {
	border-bottom: 1px solid #8C857D;
	padding: 12px;
}

td {
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #8C857D;
}

#customer_btn {
	display: block;
}

form {
	display: flex;
	/* 	height: 37px; */
	float: left !important;
	margin-top: 150px;
	margin-left: -780px;
}

form.example input[type=text] {
	width: 238px;
	font-size: 15px;
	border: none;
	background: #fff;
	padding-left: 10px;
}

form.example button {
	height: 35px;
	border: none;
	outline: none;
	cursor: pointer;
}

form.example button img {
	height: 35px;
}

#writebtn {
	margin-top: 70px;
	float: right;
}

@media screen and (max-width: 1440px) {
	#section {
		max-width: 286px;
	}

	.img02 {
		display: none;
	}

	.img02_mobile {
		display: block;
	}

	table {
		margin-top: 20px;
		text-align: left;
		font-size: 14px;
		width: 286px;
	}

	td, th {
		border-bottom: 1px solid #8C857D;
		padding: 15px 3px;
	}

	#customer_btn {
		text-align: center;
		margin: 0 auto;
		max-width: 286px;
		box-sizing: border-box;
	}

	form {
		margin-top: 0px;
		margin-left: 0px;
	}

	#allbtn02 {
		width: 61px;
		height: 28px;
	}

	form.example input[type=text] {
		width: 178px;
		height: 28px;
		font-size: 13px;
	}

	form.example button {
		height: 28px;
	}

	form.example button img {
		height: 28px;
	}

	#writebtn {
		width: 118px;
		margin: 50px auto;
		float: initial;
	}
}

.pagination {
	margin: 50px auto;
	max-width: 200px;
	box-sizing: border-box;
	text-align: center;
}

.pagination a {
	color: rgba(38, 11, 1, 1);
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
}

.pagination a.active {
	background-color: #73352F;
	color: white;
	border-radius: 5px;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
}

@media screen and (max-width: 1440px) {
	.pagination a {
		font-size: 10px;
	}
}
