@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

@font-face {
  font-family: 'Louis George Café';
  font-style: normal;
  font-weight: 500;
  src: url("LouisGeorgeCafe.woff") format('woff');
}

@font-face {
  font-family: 'Louis George Café';
  font-style: normal;
  font-weight: 900;
  src: url("LouisGeorgeCafe-Bold.woff") format('woff');
}

@font-face {
  font-family: 'Louis George Café';
  font-style: normal;
  font-weight: 100;
  src: url("LouisGeorgeCafeLight.woff") format('woff');
}

html {
  scroll-behavior: smooth;
}

body {
  /* text-align: center; */
  height: 5491px;
  margin: 0;
  padding: 0;
}

.inner {
  max-width: 1640px;
  margin: 0 auto;
  box-sizing: border-box;
  /*다양한 브라우저 크기 동일시키기*/
}

#gnblogo {
  float: left;
  margin-top: 8px;
}

.line-1 {
  border-right: 1px solid #8C857D;
  height: 18px;
  margin: 10px 0;
}

.icon li {
  display: inline-block;
  float: right;
  margin: 10px;
}

.icon #Mall {
  margin-top: 18px;
}

.icon #Mall a {
  width: 135px;
  font-family: 'Louis George Café';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: rgba(140, 133, 125, 1);
}

.icon #Mall a:hover {
  color: #730220;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 103.29px;
  background-color: white;
  z-index: 3;
}

a {
  text-decoration: none;
  color: rgba(115, 2, 32, 1);
}

a:hover {
  color: #8C857D;
}

.tab {
  margin-left: 14%;
}

.tab li {
  display: inline-block;
  font-family: 'Louis George Café';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
}

.tab li a {
  display: block;
  padding: 20px 0;
  margin-right: 65px;
}

.dropdown-tab-content {
  float: left;
  text-align: left;
  margin-right: 0px;
  margin-top: 90px;
  padding: 0;
  color: #fff;
  font-family: 'Louis George Café';
  font-style: normal;
  font-weight: 500;
}

.tabcontent {
  font-size: 31px;
  display: block;
}

.bodymenu {
  font-size: 18px;
  display: block;
}

.overlay {
  background-color: #730220;
  position: fixed;
  top: 103.29px;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  z-index: 1;
}

header:hover .overlay {
  bottom: 0;
  height: 275px;
}

.overlay .inner .row {
  margin-top: 10px;
  margin-left: 16.5%;
  padding: 0px;
}

.row li {
  display: inline-block;
  vertical-align: top;
  margin-right: 70px;
  text-align: left;
}

.row li a {
  display: block;
  padding: 2px 0;
  font-style: normal;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.row .column a:hover {
  color: #8C857D;
}

.smallname {
  display: block;
  margin-top: 10px;
}

.single-item {
  position: relative;
}

.slick-list.draggable {
  font-size: 0;
}

.single-item div img {
  max-width: 100%;
  margin-top: 103px;
  margin-bottom: -75px;
}

.prev {
  position: absolute;
  cursor: pointer;
  left: 6.7%;
  top: 25vw;
  transition: 0.6s ease;
}

.next {
  position: absolute;
  cursor: pointer;
  left: 89.3%;
  top: 25vw;
  transition: 0.6s ease;
}

#text1 {
  left: 23%;
  top: 191px;
  position: absolute;
  font-style: normal;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 1);
}

#text3 {
  left: 42.5%;
  top: 250px;
  position: absolute;
  font-style: normal;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 1);
}

#line1 {
  width: 133px;
  border-bottom: 1px solid #fff;
  position: absolute;
  overflow: visible;
  left: 24.8%;
  top: 337.5px;
}

#line2 {
  width: 133px;
  border-bottom: 1px solid #fff;
  position: absolute;
  overflow: visible;
  left: 44.7%;
  top: 400px;
}

#text2 {
  left: 22.9%;
  top: 351px;
  position: absolute;
  overflow: visible;
  width: 497px;
  white-space: nowrap;
  line-height: 89px;
  text-align: center;
  font-style: normal;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  font-size: 4.688rem;
  color: rgba(255, 255, 255, 1);
}

#text4 {
  left: 42.9%;
  top: 430px;
  position: absolute;
  overflow: visible;
  width: 497px;
  white-space: nowrap;
  line-height: 89px;
  text-align: center;
  font-style: normal;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  font-size: 4.688rem;
  color: rgba(255, 255, 255, 1);
}

#detailbtn1 {
  position: absolute;
  width: 149px;
  height: 46px;
  left: 24.6%;
  top: 400px;
  overflow: visible;
  font-size: 0;
}

#detailbtn2 {
  position: absolute;
  width: 149px;
  height: 46px;
  left: 44.5%;
  top: 450px;
  overflow: visible;
}

.noticebg {
  background-color: #730220;
  display: inline-block;
  width: 49.5%;
  height: 70px;
  position: relative;
  float: left;
  font-size: 0;
}

.noticebtn {
  position: absolute;
  height: 34px;
  width: 34px;
  left: 70%;
  top: 30%;
  transform: matrix(1, 0, 0, 1, 0, 0);
  cursor: pointer;
}

.noticebg ul li span {
  left: 30%;
  top: 28%;
  position: absolute;
  white-space: nowrap;
  font-style: normal;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #fff;
}

#recommend {
  position: relative;
}

#scroll {
  background-image: url("../image/index_recommendbg.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 940px;
  margin-top: 70px;
  overflow-x: hidden;
}

#scroll::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

#recommend #scroll img {
  text-align: center;
  width: 100%;
  margin-top: 70px;
}

#morebtn1, #morebtn2, #morebtn3, #morebtn4, #morebtn5 {
  display: block;
  width: 6%;
  height: auto;
  cursor: pointer;
}

#morebtn1 {
  margin-top: -3100px;
  margin-left: 1120px;
  padding
}

#morebtn2 {
  margin-top: 530px;
  margin-left: 640px;
}

#morebtn3 {
  margin-top: 530px;
  margin-left: 1120px;
}

#morebtn4 {
  margin-top: 530px;
  margin-left: 640px;
}

#morebtn5 {
  margin-top: 530px;
  margin-left: 1120px;
}

#point {
  max-width: 100%;
}

#HACCP {
  position: relative;
  background-image: url("../image/index_ok.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 17%;
  margin-top: -5px
}

#HACCPmark {
  margin-left: 550px;
  margin-top: 200px;
}

#HACCPhead {
  display: block;
  margin-left: 850px;
  margin-top: -230px;
  filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.38));
  line-height: 68px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  color: #fff;
}

#HACCPstory {
  display: block;
  margin-left: 850px;
  margin-top: 30px;
  filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.38));
  line-height: 32px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

#detailbtn3 {
  margin-left: 850px;
  margin-top: 30px;
  display: block;
}

#order {
  position: relative;
  text-align: center;
}

#orderbg {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#ORDER_AT_THE_HANS_STORE_ONLINE {
  display: inline-block;
  position: absolute;
  left: 30%;
  top: 20%;
  font-family: Louis George Café;
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  color: rgba(255, 255, 255, 1);
}

#detailbtn4 {
  display: inline-block;
  position: absolute;
  width: 117px;
  height: 36px;
  left: 46.9%;
  top: 250px;
  overflow: visible;
  cursor: pointer;
}

#ordermobile {
  display: inline-block;
  position: absolute;
  max-width: 100%;
  left: 75.9%;
  top: 64px;
}

#orderperson {
  display: inline-block;
  position: absolute;
  max-width: 100%;
  left: 17.65%;
  top: 64.258px;
}

#mall {
  position: relative;
  width: 100%;
  height: 959px;
  left: 0%;
  top: 3581px;
  overflow: visible;
}

#mallbg {
  position: absolute;
  width: 100%;
  height: 959px;
  left: 0%;
  top: 0%;
  overflow: visible;
}

#malltext {
  position: absolute;
  width: 502px;
  height: 405.648px;
  left: 17.2%;
  top: 287px;
  overflow: visible;
}

#HANS_CAKE_MALL {
  left: 35%;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 286px;
  text-align: right;
  font-family: Louis George Café;
  font-style: normal;
  font-weight: 900;
  font-size: 90px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 1px;
}

#mallonline {
  left: -0.7%;
  top: 350px;
  position: absolute;
  overflow: visible;
  width: 474px;
  height: 67px;
  line-height: 29px;
  margin-top: -1.5px;
  text-align: right;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: rgba(255, 255, 255, 1);
}

#ENTER_HANS_CAKE_MALL {
  left: 48%;
  top: 440px;
  position: absolute;
  overflow: visible;
  width: 230px;
  white-space: nowrap;
  text-align: left;
  text-decoration: underline;
  font-family: Louis George Café;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
}

#cakeimg {
  position: relative;
  width: 589.383px;
  height: 395.903px;
  left: 52%;
  top: 276.258px;
  overflow: visible;
}

#mallcake1 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  z-index: 2;
}

#mallcake2 {
  position: absolute;
  left: 180px;
  top: -20px;
  overflow: visible;
  z-index: 3;
}

#mallcake3 {
  position: absolute;
  left: 420px;
  top: 75px;
  overflow: visible;
  z-index: 1;
}

#store {
  position: relative;
  width: 100%;
  height: 614px;
  left: 0%;
  top: 4540px;
  overflow: visible;
}

#storebg {
  position: absolute;
  width: 100%;
  height: 614px;
  left: 0%;
  top: 0%;
  overflow: visible;
}

#storetext {
  left: 57.5%;
  top: 145px;
  position: absolute;
  overflow: visible;
  width: 474px;
  height: 67px;
  line-height: 29px;
  margin-top: -1.5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  color: rgba(115, 2, 32, 1);
}

form.example input[type=text] {
  left: 57.5%;
  top: 4888px;
  position: absolute;
  overflow: visible;
  padding: 10px;
  font-size: 15px;
  border: 1px solid rgba(221, 221, 221, 1);
  border-radius: 6px;
  float: left;
  width: 409px;
  color: rgba(38, 11, 1, 1);
  background: #fff;
}

#gostoreimg {
  position: absolute;
  overflow: visible;
  left: 76.3%;
  top: 4890px;
  float: left;
  width: 14.14px;
  padding: 10px;
  background: transparent;
  fill: #260B01;
  cursor: pointer;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

#storestory {
  left: 57.5%;
  top: 4767px;
  position: absolute;
  overflow: visible;
  width: 474px;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  color: rgba(38, 11, 1, 1);
}

#footer {
  position: relative;
  width: 100%;
  height: 368px;
  left: 0%;
  top: 5123px;
  overflow: visible;
}

#footerbg {
  fill: rgba(38, 11, 1, 1);
}

.footerbg {
  overflow: visible;
  position: absolute;
  width: 100%;
  height: 338px;
  left: 0%;
  top: 31px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#footermenu {
  position: absolute;
  width: 1093px;
  height: 168px;
  left: 21.5%;
  top: 94px;
  overflow: visible;
}

#footermenu01 {
  left: 5px;
  top: 8px;
  position: absolute;
  overflow: visible;
  width: 119px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

#footermenu02 {
  left: 155px;
  top: 8px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

#footermenu03 {
  left: 245px;
  top: 8px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

#insta {
  position: absolute;
  width: 39.957px;
  height: 39.743px;
  left: 96.3%;
  top: 0%;
  overflow: visible;
}

#content {
  position: absolute;
  width: 801px;
  height: 88px;
  left: 17%;
  top: 80px;
  overflow: visible;
}

#add {
  left: 0%;
  top: 27px;
  position: absolute;
  overflow: visible;
  width: 579px;
  white-space: nowrap;
  line-height: 29px;
  margin-top: -7.5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

#Copyright {
  opacity: 0.1;
  left: 0%;
  top: 64px;
  position: absolute;
  overflow: visible;
  width: 802px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

#business {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 690px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -3.5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

#qna {
  position: absolute;
  width: 198px;
  height: 38px;
  left: 833px;
  top: 1px;
  overflow: visible;
}

#footerline {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.footerline {
  overflow: visible;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0%;
  top: 56px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#topbtn {
  left: 48.3%;
  top: 20px;
  position: absolute;
  overflow: visible;
  width: 31px;
}

#topbtn.show {
  opacity: 1;
  overflow: visible;
}

#footerlogo {
  position: absolute;
  width: 141.469px;
  height: 49.801px;
  left: 22%;
  top: 175px;
  overflow: visible;
}
