#visual {
  position: absolute;
  width: 100%;
  height: 285px;
  overflow: visible;
}
.menu_visual {
  position: absolute;
  width: 100%;
  height: 285px;
  left: 0%;
  top: 103px;
  overflow: visible;
}

#headline {
  filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.902));
  left: 45.8%;
  top: 214px;
  position: absolute;
  overflow: visible;
  width: 120px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 43px;
  color: rgba(255, 255, 255, 1);
}

#smallmenu {
  position: absolute;
  width: 100%;
  height: 52px;
  left: 0.2%;
  top: 388px;
  overflow: visible;
}
#home-black-18dp_cfg {
  position: absolute;
  width: 17.869px;
  height: 17.869px;
  left: 23.2%;
  top: 18px;
  overflow: visible;
}
#home {
  fill: transparent;
}
.home {
  overflow: visible;
  position: absolute;
  width: 17.869px;
  height: 17.869px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#home1 {
  fill: rgba(140,133,125,1);
}
.home1 {
  overflow: visible;
  position: absolute;
  width: 14.891px;
  height: 12.657px;
  left: 1.489px;
  top: 2.233px;
  transform: matrix(1,0,0,1,0,0);
}
#home2 {
  fill: transparent;
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.home2 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 12px;
  left: 24.7%;
  top: 21.5px;
  transform: matrix(1,0,0,1,0,0);
}
#smallmenu_cake {
  left: 25.2%;
  top: 17px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: rgba(140,133,125,1);
}
#smallmenu_classic {
  left: 31.1%;
  top: 17px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: rgba(140,133,125,1);
}
#smallmenu_arrow01 {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 29.1%;
  top: 18px;
  overflow: visible;
}
#arrow1 {
  fill: rgba(140,133,125,1);
}
.arrow1 {
  overflow: visible;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#arrow2 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.arrow2 {
  overflow: visible;
  position: absolute;
  width: 7.303px;
  height: 4.941px;
  left: 6.186px;
  top: 7.512px;
  transform: matrix(1,0,0,1,0,0);
}

#ssmallnews {
  position: absolute;
  width: 1352px;
  height: 59px;
  left: 14.6%;
  top: 477px;
  overflow: visible;
}
#newpro {
  position: absolute;
  width: 339px;
  height: 49px;
  left: 0px;
  top: 10px;
  overflow: visible;
  cursor: pointer;
}
#ssmallnews01 {
  fill: rgba(255,255,255,1);
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.ssmallnews01 {
  overflow: visible;
  position: absolute;
  width: 339px;
  height: 49px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#newprotext {
  left: 148px;
  top: 13px;
  position: absolute;
  overflow: visible;
  width: 45px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(38,11,1,1);
}

#notice {
  position: absolute;
  width: 339px;
  height: 59px;
  left: 1013px;
  top: 0px;
  overflow: visible;
  z-index: 50;
}
#ssmallnews02 {
  fill: rgba(115,2,32,1);
}
.ssmallnews02 {
  overflow: visible;
  position: absolute;
  width: 339px;
  height: 59px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#noticetext {
  left: 139px;
  top: 18px;
  position: absolute;
  overflow: visible;
  width: 45px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255,255,255,1);
}
#newstory {
  position: absolute;
  width: 339px;
  height: 49px;
  left: 677px;
  top: 10px;
  overflow: visible;
}
#ssmallnews03 {
  fill: rgba(255,255,255,1);
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.ssmallnews03 {
  position: absolute;
  overflow: visible;
  width: 339px;
  height: 49px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#newstorytext {
  left: 140px;
  top: 13px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(38,11,1,1);
}
#open {
  position: absolute;
  width: 339px;
  height: 59px;
  left: 339px;
  top: 10px;
  overflow: visible;
}
#ssmallnews04 {
  fill: rgba(255,255,255,1);
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.ssmallnews04 {
  overflow: visible;
  position: absolute;
  width: 339px;
  height: 49px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#opentext {
  left: 139px;
  top: 13px;
  position: absolute;
  overflow: visible;
  width: 45px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(38,11,1,1);
}
table {
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: #730220;
  border-top: 2px solid #260B01;
  border-collapse: collapse;
  width: 1395px;
  left: 14.1%;
  top: 611.82px;
  position: absolute;
  overflow: visible;
}
td, th {
  border-bottom: 1px solid #8C857D;
  padding: 12px;
  }

td {
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #8C857D;
}

#pagenumber {
  position: absolute;
  width: 133px;
  height: 26px;
  left: 46.1%;
  top: 1324px;
  overflow: visible;
}
#number01 {
  left: 37px;
  top: 8px;
  position: absolute;
  overflow: visible;
  line-height: 20px;
  margin-top: -6px;
  text-decoration: none;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: rgba(115,53,47,1);
}
#underline {
  fill: transparent;
  stroke: rgba(115,53,47,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.underline {
  overflow: visible;
  position: absolute;
  width: 7px;
  height: 1px;
  left: 1px;
  top: 19.5px;
  transform: matrix(1,0,0,1,0,0);
}
#number02 {
  left: 63px;
  top: 8px;
  position: absolute;
  overflow: visible;
  width: 9px;
  white-space: nowrap;
  line-height: 20px;
  margin-top: -5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: rgba(140,133,125,1);
}
#number03 {
  left: 87px;
  top: 8px;
  position: absolute;
  overflow: visible;
  width: 9px;
  white-space: nowrap;
  line-height: 20px;
  margin-top: -5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: rgba(140,133,125,1);
}
#rightbtn {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 107px;
  top: 0px;
  overflow: visible;
}
#rightbtnsqa {
  opacity: 0.72;
  fill: rgba(255,255,255,1);
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.rightbtnsqa {
  position: absolute;
  overflow: visible;
  width: 26px;
  height: 26px;
  left: 0px;
  top: 0px;
}
#rightbtnarrow {
  fill: transparent;
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.rightbtnarrow {
  overflow: visible;
  position: absolute;
  width: 4.039px;
  height: 7.887px;
  left: 11.5px;
  top: 9.501px;
  transform: matrix(1,0,0,1,0,0);
}
#leftbtn {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#leftbtnsqa {
  opacity: 0.72;
  fill: rgba(255,255,255,1);
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.leftbtnsqa {
  position: absolute;
  overflow: visible;
  width: 26px;
  height: 26px;
  left: 0px;
  top: 0px;
}
#leftbtnarrow {
  fill: transparent;
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.leftbtnarrow {
  overflow: visible;
  position: absolute;
  width: 4.039px;
  height: 7.887px;
  left: 11.667px;
  top: 9.501px;
  transform: matrix(1,0,0,1,0,0);
}
