#visual {
  position: absolute;
  width: 100%;
  height: 285px;
  overflow: visible;
}
.menu_visual {
  position: absolute;
  width: 100%;
  height: 285px;
  left: 0%;
  top: 103px;
  overflow: visible;
}

#headline {
  filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.902));
  left: 43.8%;
  top: 214px;
  position: absolute;
  overflow: visible;
  width: 120px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 43px;
  color: rgba(255, 255, 255, 1);
}

#smallmenu {
  position: absolute;
  width: 100%;
  height: 52px;
  left: 0.2%;
  top: 388px;
  overflow: visible;
}
#home-black-18dp_cfg {
  position: absolute;
  width: 17.869px;
  height: 17.869px;
  left: 23.2%;
  top: 18px;
  overflow: visible;
}
#home {
  fill: transparent;
}
.home {
  overflow: visible;
  position: absolute;
  width: 17.869px;
  height: 17.869px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#home1 {
  fill: rgba(140,133,125,1);
}
.home1 {
  overflow: visible;
  position: absolute;
  width: 14.891px;
  height: 12.657px;
  left: 1.489px;
  top: 2.233px;
  transform: matrix(1,0,0,1,0,0);
}
#home2 {
  fill: transparent;
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.home2 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 12px;
  left: 24.7%;
  top: 21.5px;
  transform: matrix(1,0,0,1,0,0);
}
#smallmenu_cake {
  left: 25.2%;
  top: 17px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: rgba(140,133,125,1);
}
#smallmenu_classic {
  left: 31.1%;
  top: 17px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: rgba(140,133,125,1);
}
#smallmenu_arrow01 {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 29.1%;
  top: 18px;
  overflow: visible;
}
#arrow1 {
  fill: rgba(140,133,125,1);
}
.arrow1 {
  overflow: visible;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#arrow2 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.arrow2 {
  overflow: visible;
  position: absolute;
  width: 7.303px;
  height: 4.941px;
  left: 6.186px;
  top: 7.512px;
  transform: matrix(1,0,0,1,0,0);
}

#ssmallnews {
  position: absolute;
  width: 1352px;
  height: 59px;
  left: 14.6%;
  top: 477px;
  overflow: visible;
}
#newpro {
  position: absolute;
  width: 339px;
  height: 49px;
  left: 0px;
  top: 10px;
  overflow: visible;
  cursor: pointer;
}
#ssmallnews01 {
  fill: rgba(255,255,255,1);
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.ssmallnews01 {
  overflow: visible;
  position: absolute;
  width: 339px;
  height: 49px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#newprotext {
  left: 148px;
  top: 13px;
  position: absolute;
  overflow: visible;
  width: 45px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(38,11,1,1);
}

#notice {
  position: absolute;
  width: 339px;
  height: 49px;
  left: 1013px;
  top: 10px;
  overflow: visible;
  cursor: pointer;
}
#ssmallnews02 {
  fill: rgba(255,255,255,1);
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.ssmallnews02 {
  overflow: visible;
  position: absolute;
  width: 339px;
  height: 49px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#noticetext {
  left: 139px;
  top: 13px;
  position: absolute;
  overflow: visible;
  width: 45px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(38,11,1,1);
}
#newstory {
  position: absolute;
  width: 339px;
  height: 49px;
  left: 677px;
  top: 10px;
  overflow: visible;
  cursor: pointer;
}
#ssmallnews03 {
  fill: rgba(255,255,255,1);
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.ssmallnews03 {
  position: absolute;
  overflow: visible;
  width: 339px;
  height: 49px;
  left: 0px;
  top: 0px;
}
#newstorytext {
  left: 140px;
  top: 13px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(38,11,1,1);
}
#open {
  position: absolute;
  width: 339px;
  height: 59px;
  left: 339px;
  top: 0px;
  overflow: visible;
}
#ssmallnews04 {
  fill: rgba(115,2,32,1);
}
.ssmallnews04 {
  overflow: visible;
  position: absolute;
  width: 339px;
  height: 59px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#opentext {
  left: 130px;
  top: 18px;
  position: absolute;
  overflow: visible;
  width: 45px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255,255,255,1);
}

#sore01 {
  left: 15.3%;
  top: 948px;
  position: absolute;
  overflow: visible;
  width: 235px;
  white-space: nowrap;
  line-height: 30px;
  margin-top: -5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(140,133,125,1);
}
#sore02 {
  left: 33.6%;
  top: 948px;
  position: absolute;
  overflow: visible;
  width: 254px;
  white-space: nowrap;
  line-height: 30px;
  margin-top: -5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(140,133,125,1);
}
#sore03 {
  left: 53.6%;
  top: 948px;
  position: absolute;
  overflow: visible;
  width: 217px;
  white-space: nowrap;
  line-height: 30px;
  margin-top: -5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(140,133,125,1);
}
#sore04 {
  left: 71.7%;
  top: 948px;
  position: absolute;
  overflow: visible;
  width: 254px;
  white-space: nowrap;
  line-height: 30px;
  margin-top: -5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(140,133,125,1);
}
#sore05 {
  left: 14.8%;
  top: 1427px;
  position: absolute;
  overflow: visible;
  width: 254px;
  white-space: nowrap;
  line-height: 30px;
  margin-top: -5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(140,133,125,1);
}
#img05 {
  position: absolute;
  width: 260px;
  height: 270.879px;
  left: 14.6%;
  top: 662px;
  overflow: visible;
}
#img06 {
  position: absolute;
  width: 260px;
  height: 270.879px;
  left: 33.5%;
  top: 662px;
  overflow: visible;
}
#img07 {
  position: absolute;
  width: 260px;
  height: 270.879px;
  left: 52.5%;
  top: 662px;
  overflow: visible;
}
#img08 {
  position: absolute;
  width: 260px;
  height: 270.879px;
  left: 71.5%;
  top: 662px;
  overflow: visible;
}
#img09 {
  position: absolute;
  width: 260px;
  height: 270.879px;
  left: 14.6%;
  top: 1141px;
  overflow: visible;
}
#open01 {
  left: 14.6%;
  top: 622px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}
#open02 {
  left: 14.6%;
  top: 1102px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}
#open03 {
  left: 34.6%;
  top: 622px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}
#open04 {
  left: 52.5%;
  top: 622px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}
#open05 {
  left: 71.5%;
  top: 622px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}
#DATE01 {
  left: 23.8%;
  top: 622px;
  position: absolute;
  overflow: visible;
  width: 86px;
  white-space: nowrap;
  line-height: 31px;
  margin-top: -7.5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}
#DATE02 {
  left: 41.4%;
  top: 623px;
  position: absolute;
  overflow: visible;
  width: 86px;
  white-space: nowrap;
  line-height: 31px;
  margin-top: -7.5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}
#DATE03 {
  left: 61.5%;
  top: 623px;
  position: absolute;
  overflow: visible;
  width: 86px;
  white-space: nowrap;
  line-height: 31px;
  margin-top: -7.5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}
#DATE04 {
  left: 80.5%;
  top: 623px;
  position: absolute;
  overflow: visible;
  width: 86px;
  white-space: nowrap;
  line-height: 31px;
  margin-top: -7.5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}
#DATE05 {
  left: 23.8%;
  top: 1102px;
  position: absolute;
  overflow: visible;
  width: 86px;
  white-space: nowrap;
  line-height: 31px;
  margin-top: -7.5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}
