#visual {
	position: relative;
	background-image: url("../image/news_visual03.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 285px;
	margin-top: 103.28px;
}

@media screen and (max-width: 1440px) {
	#visual {
		height: 152px;
		margin-top: 52.7px;
	}
}

#smallmenu {
	position: relative;
	width: 100%;
	height: 52px;
}

#home-black-18dp_cfg {
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 23.2%;
	top: 18px;
	overflow: visible;
}

#home {
	fill: transparent;
}

.home {
	overflow: visible;
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home1 {
	fill: rgba(140, 133, 125, 1);
}

.home1 {
	overflow: visible;
	position: absolute;
	width: 14.891px;
	height: 12.657px;
	left: 1.489px;
	top: 2.233px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home2 {
	fill: transparent;
	stroke: rgba(140, 133, 125, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.home2 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 12px;
	left: 24.7%;
	top: 21.5px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#smallmenu_cake {
	left: 25.2%;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	color: rgba(140, 133, 125, 1);
}

#smallmenu_arrow01 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 31%;
	top: 18px;
	overflow: visible;
}

#arrow1 {
	fill: rgba(140, 133, 125, 1);
}

.arrow1 {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#arrow2 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.arrow2 {
	overflow: visible;
	position: absolute;
	width: 7.303px;
	height: 4.941px;
	left: 6.186px;
	top: 7.512px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 1440px) {
	#smallmenu {
		margin: 0 auto;
		max-width: 300px;
		box-sizing: border-box;
	}

	#home-black-18dp_cfg {
		left: 0;
	}

	.home2 {
		left: 8%;
	}

	#smallmenu_cake {
		left: 15%;
	}

	#smallmenu_arrow01 {
		left: 45%;
	}

	#smallmenu_arrow02 {
		left: 90%;
	}
}

#ssmallmenu {
	position: relative;
	max-width: 1352px;
	margin: 50px auto;
	display: flex;
	flex: 1;
	text-align: center;
}

.ssmallmenu_box:nth-child(4) {
	position: relative;
	width: 339px;
	height: 59px;
	background-color: rgba(115, 2, 32, 1) !important;
	border: 1px solid rgba(115, 2, 32, 1) !important;
	left: 0px;
	top: 0px;
}

.ssmallmenu_box:nth-child(1),
.ssmallmenu_box:nth-child(2),
.ssmallmenu_box:nth-child(3) {
	width: 339px;
	height: 59px;
	border: 1px solid rgba(140, 133, 125, 1);
}

.ssmallmenu_box:nth-child(1):hover,
.ssmallmenu_box:nth-child(2):hover,
.ssmallmenu_box:nth-child(3):hover {
	background-color: #DBDBDB;
}

.ssmallmenu_box:nth-child(4) span {
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: rgba(255, 255, 255, 1) !important;
	margin-top: 15px;
	display: block;
}

.ssmallmenu_box:nth-child(1) span,
.ssmallmenu_box:nth-child(2) span,
.ssmallmenu_box:nth-child(3) span {
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #260B01;
	margin-top: 15px;
	display: block;
}

@media screen and (max-width: 1440px) {
	#ssmallmenu {
		display: grid;
		grid-gap: 3px;
		grid-template-columns: 1fr 1fr;
		max-width: 300px;
		box-sizing: border-box;
	}

	.ssmallmenu_box:nth-child(4) {
		width: 144px;
		height: 30px;
	}

	.ssmallmenu_box:nth-child(4) span {
		font-size: 12px;
		margin-top: 7px;
	}

	.ssmallmenu_box:nth-child(1),
	.ssmallmenu_box:nth-child(2),
	.ssmallmenu_box:nth-child(3) {
		width: 144px;
		height: 30px;
		border: 1px solid rgba(140, 133, 125, 1);
	}

	.ssmallmenu_box:nth-child(1) span,
	.ssmallmenu_box:nth-child(2) span,
	.ssmallmenu_box:nth-child(3) span {
		font-size: 12px;
		margin-top: 7px;
	}
}

#section {
	position: relative;
	max-width: 1364px;
	margin: 100px auto;
	box-sizing: border-box;
	/* margin-bottom: 150px; */
}

table {
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	color: #730220;
	border-top: 2px solid #260B01;
	border-collapse: collapse;
	width: 1395px;
}

td, th {
	border-bottom: 1px solid #8C857D;
	padding: 12px;
}

td {
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #8C857D;
}

@media screen and (max-width: 1440px) {
	#section {
		max-width: 286px;
		margin: 30px auto;
	}

	table {
		font-size: 14px;
		width: 285px;
	}

	td, th {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal;
	}
}

.pagination {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 100px;
}

.pagination a {
	color: rgba(38, 11, 1, 1);
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
}

.pagination a.active {
	background-color: #73352F;
	color: white;
	border-radius: 5px;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
}

@media screen and (max-width: 1440px) {
	.pagination {
		margin: 50px 0;
	}

	.pagination a {
		font-size: 10px;
	}
}
