@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}
@font-face {font-family:'Louis George Café'; font-style: normal; font-weight: 500; src:url("font/LouisGeorgeCafe.woff");}
@font-face {font-family:'Louis George Café'; font-style: normal; font-weight: 900; src:url("font/LouisGeorgeCafe-Bold.woff");}
@font-face {font-family:'Louis George Café'; font-style: normal; font-weight: 100; src:url("font/LouisGeorgeCafeLight.woff");}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
  overflow: scroll;
  max-width: 1920px;
  height: 1506px;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 103.29px;
  top: 0%;
  left: 0%;
  z-index: 50;
}

#gnbbg {
  fill: rgba(255, 255, 255, 1);
}

.gnbbg {
  filter: drop-shadow(0px 9px 30px rgba(0, 0, 0, 0.141));
  overflow: visible;
  position: absolute;
}

#HANS_Cake_Mall {
  left: 77.1%;
  top: 39.69%;
  position: absolute;
  overflow: visible;
  width: 135px;
  text-decoration: none;
  text-align: center;
  font-family: 'Louis George Café';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: rgba(140, 133, 125, 1);
}

#HANS_Cake_Mall:hover {
  color: #730220;
}

#Find_a_Store {
  left: 85.5%;
  top: 32.9%;
  position: absolute;
  overflow: visible;
}

#search {
  width: 136.92px;
  height: 34px;
  fill: #8C857D;
}

#search:hover {
  fill: #730220;
}

#line-1 {
  fill: transparent;
  stroke: rgba(140, 133, 125, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.line-1 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 18px;
  left: 84.8%;
  top: 41.1%;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.tablinks {
  left: 27.6%;
  top: 41px;
  height: 103px;
  position: relative;
  overflow: visible;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-family: 'Louis George Café';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: rgba(115, 2, 32, 1);
  background: transparent;
  float: left;
  padding-right: 70px;
}

.tablinks:hover {
  color: #8C857D;
  background: transparent;
}

.tabcontent {
  left: 7.7%;
  top: 103px;
  position: absolute;
  overflow: visible;
  color: #fff;
  font-family: 'Louis George Café';
  font-style: normal;
  font-weight: 500;
  font-size: 31px;
  display: none;
}

.bodymenu {
  left: 7.7%;
  top: 150px;
  position: absolute;
  overflow: visible;
  color: #fff;
  font-family: 'Louis George Café';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.dropdown {
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #730220;
  width: 100%;
  height: 275px;
  left: 0%;
  top: 103px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.column {
  float: left;
  margin-right: 3.5%;
}

.column a {
  padding: 3px 0px;
  text-decoration: none;
  display: flex;
  color: #fff;
  font-style: normal;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 14px;
  position: relative;
  left: 530px;
  top: 10px;
}

.column a:hover {
  color: #8C857D;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: block;
  clear: both;
}

#gnblogo {
  position: absolute;
  width: 141.469px;
  height: 49.801px;
  left: 7.29%;
  top: 27px;
  overflow: visible;
}

#visual {
  position: absolute;
  width: 100%;
  height: 285px;
  overflow: visible;
}
.menu_visual {
  position: absolute;
  width: 100%;
  height: 285px;
  left: 0%;
  top: 103px;
  overflow: visible;
}

#headline {
  filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.902));
  left: 46.9%;
  top: 214px;
  position: absolute;
  overflow: visible;
  width: 120px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 43px;
  color: rgba(255, 255, 255, 1);
}

#smallmenu {
  position: absolute;
  width: 100%;
  height: 52px;
  left: 0.2%;
  top: 388px;
  overflow: visible;
}
#home-black-18dp_cfg {
  position: absolute;
  width: 17.869px;
  height: 17.869px;
  left: 23.2%;
  top: 18px;
  overflow: visible;
}
#home {
  fill: transparent;
}
.home {
  overflow: visible;
  position: absolute;
  width: 17.869px;
  height: 17.869px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#home1 {
  fill: rgba(140,133,125,1);
}
.home1 {
  overflow: visible;
  position: absolute;
  width: 14.891px;
  height: 12.657px;
  left: 1.489px;
  top: 2.233px;
  transform: matrix(1,0,0,1,0,0);
}
#home2 {
  fill: transparent;
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.home2 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 12px;
  left: 24.7%;
  top: 21.5px;
  transform: matrix(1,0,0,1,0,0);
}
#smallmenu_cake {
  left: 25.2%;
  top: 17px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: rgba(140,133,125,1);
}
#smallmenu_classic {
  left: 31.1%;
  top: 17px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: rgba(140,133,125,1);
}
#smallmenu_arrow01 {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 29.1%;
  top: 18px;
  overflow: visible;
}
#arrow1 {
  fill: rgba(140,133,125,1);
}
.arrow1 {
  overflow: visible;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#arrow2 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.arrow2 {
  overflow: visible;
  position: absolute;
  width: 7.303px;
  height: 4.941px;
  left: 6.186px;
  top: 7.512px;
  transform: matrix(1,0,0,1,0,0);
}

#ssmallnews {
  position: absolute;
  width: 1352px;
  height: 59px;
  left: 14.6%;
  top: 477px;
  overflow: visible;
}
#newpro {
  position: absolute;
  width: 339px;
  height: 59px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#ssmallnews01 {
  fill: rgba(115,2,32,1);
}
.ssmallnews01 {
  overflow: visible;
  position: absolute;
  width: 339px;
  height: 59px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#newprotext {
  left: 148px;
  top: 18px;
  position: absolute;
  overflow: visible;
  width: 45px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255,255,255,1);
}

#notice {
  position: absolute;
  width: 339px;
  height: 49px;
  left: 1013px;
  top: 10px;
  overflow: visible;
  cursor: pointer;
}
#ssmallnews02 {
  fill: rgba(255,255,255,1);
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.ssmallnews02 {
  overflow: visible;
  position: absolute;
  width: 339px;
  height: 49px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#noticetext {
  left: 139px;
  top: 13px;
  position: absolute;
  overflow: visible;
  width: 45px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(38,11,1,1);
}
#newstory {
  position: absolute;
  width: 339px;
  height: 49px;
  left: 677px;
  top: 10px;
  overflow: visible;
  cursor: pointer;
}
#ssmallnews03 {
  fill: rgba(255,255,255,1);
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.ssmallnews03 {
  position: absolute;
  overflow: visible;
  width: 339px;
  height: 49px;
  left: 0px;
  top: 0px;
}
#newstorytext {
  left: 140px;
  top: 13px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(38,11,1,1);
}
#open {
  position: absolute;
  width: 339px;
  height: 49px;
  left: 339px;
  top: 10px;
  cursor: pointer;
}
#ssmallnews04 {
  fill: rgba(255,255,255,1);
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.ssmallnews04 {
  overflow: visible;
  position: absolute;
  width: 339px;
  height: 49px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#opentext {
  left: 130px;
  top: 13px;
  position: absolute;
  overflow: visible;
  width: 30px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(38,11,1,1);
}

#img01 {
  position: absolute;
  width: 260px;
  height: 270.879px;
  left: 14.6%;
  top: 663px;
  overflow: visible;
}
#text01 {
  left: 12.2%;
  top: 949px;
  position: absolute;
  overflow: visible;
  width: 353px;
  white-space: nowrap;
  line-height: 30px;
  margin-top: -5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(140,133,125,1);
}
#img02 {
  position: absolute;
  width: 260px;
  height: 270.879px;
  left: 33.6%;
  top: 663px;
  overflow: visible;
}
#text02 {
  left: 34.3%;
  top: 949px;
  position: absolute;
  overflow: visible;
  width: 235px;
  white-space: nowrap;
  line-height: 30px;
  margin-top: -5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(140,133,125,1);
}
#img03 {
  position: absolute;
  width: 260px;
  height: 270.879px;
  left: 52.6%;
  top: 663px;
  overflow: visible;
}
#text03 {
  left: 52.8%;
  top: 949px;
  position: absolute;
  overflow: visible;
  width: 256px;
  white-space: nowrap;
  line-height: 30px;
  margin-top: -5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(140,133,125,1);
}
#img04 {
  position: absolute;
  width: 260px;
  height: 270.879px;
  left: 71.6%;
  top: 663px;
  overflow: visible;
}
#text04 {
  left: 73.3%;
  top: 949px;
  position: absolute;
  overflow: visible;
  width: 194px;
  white-space: nowrap;
  line-height: 30px;
  margin-top: -5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(140,133,125,1);
}
#new01 {
  left: 52.8%;
  top: 626px;
  position: absolute;
  overflow: visible;
  width: 78px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}
#new02 {
  left: 71.6%;
  top: 624px;
  position: absolute;
  overflow: visible;
  width: 78px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}
#new03 {
  left: 33.6%;
  top: 624px;
  position: absolute;
  overflow: visible;
  width: 78px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}
#new04 {
  left: 14.6%;
  top: 624px;
  position: absolute;
  overflow: visible;
  width: 78px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}
#DATE20160303 {
  left: 23.8%;
  top: 624px;
  position: absolute;
  overflow: visible;
  width: 86px;
  white-space: nowrap;
  line-height: 31px;
  margin-top: -7.5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}
#DATE20170428 {
  left: 42.7%;
  top: 624px;
  position: absolute;
  overflow: visible;
  width: 86px;
  white-space: nowrap;
  line-height: 31px;
  margin-top: -7.5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}
#DATE20170627 {
  left: 61.6%;
  top: 624px;
  position: absolute;
  overflow: visible;
  width: 86px;
  white-space: nowrap;
  line-height: 31px;
  margin-top: -7.5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}
#DATE20171101 {
  left: 80.4%;
  top: 624px;
  position: absolute;
  overflow: visible;
  width: 86px;
  white-space: nowrap;
  line-height: 31px;
  margin-top: -7.5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(140,133,125,1);
}

#footer {
  position: absolute;
  width: 100%;
  height: 368px;
  left: 0%;
  top: 1138px;
  overflow: visible;
}

#footerbg {
  fill: rgba(38, 11, 1, 1);
}

.footerbg {
  overflow: visible;
  position: absolute;
  width: 100%;
  height: 338px;
  left: 0%;
  top: 31px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#footermenu {
  position: absolute;
  width: 1093px;
  height: 168px;
  left: 21.5%;
  top: 94px;
  overflow: visible;
}

#footermenu01 {
  left: 5px;
  top: 8px;
  position: absolute;
  overflow: visible;
  width: 119px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

#footermenu02 {
  left: 155px;
  top: 8px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

#footermenu03 {
  left: 245px;
  top: 8px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

#insta {
  position: absolute;
  width: 39.957px;
  height: 39.743px;
  left: 96.3%;
  top: 0%;
  overflow: visible;
}

#content {
  position: absolute;
  width: 801px;
  height: 88px;
  left: 17%;
  top: 80px;
  overflow: visible;
}

#add {
  left: 0%;
  top: 27px;
  position: absolute;
  overflow: visible;
  width: 579px;
  white-space: nowrap;
  line-height: 29px;
  margin-top: -7.5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

#Copyright {
  opacity: 0.1;
  left: 0%;
  top: 64px;
  position: absolute;
  overflow: visible;
  width: 802px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

#business {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 690px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -3.5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

#qna {
  position: absolute;
  width: 198px;
  height: 38px;
  left: 833px;
  top: 1px;
  overflow: visible;
}

#footerline {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.footerline {
  overflow: visible;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0%;
  top: 56px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#topbtn {
  left: 48.3%;
  top: 20px;
  position: absolute;
  overflow: visible;
  width: 31px;
}

#topbtn.show {
  opacity: 1;
  overflow: visible;
}

#footerlogo {
  position: absolute;
  width: 141.469px;
  height: 49.801px;
  left: 22%;
  top: 175px;
  overflow: visible;
}
