#visual {
	position: relative;
	background-image: url("../image/part_sub_visual.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 285px;
	margin-top: 103.28px;
}

#headline {
	filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.902));
	top: 140px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	overflow: visible;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 43px;
	color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1440px) {
	#visual {
		height: 152px;
		margin-top: 52.7px;
	}

	#headline {
		top: 40px;
		font-size: 28px;
		width: 228px;
		text-align: center;
	}
}

#section {
	position: relative;
	max-width: 838px;
	margin: 68px auto;
	box-sizing: border-box;
	text-align: left;
}

#beafamily_640_01 {
	display: block;
	margin-bottom: 40px;
}

.container {
	margin-bottom: 30px;
	display: block !important;
}

.part_icon {
	margin-right: 20px;
	float: left;
}

dl {
	border: 1px solid #8C857D;
	border-radius: 6px;
	width: 662px;
	text-align: left;
	float: left;
	padding: 10px 30px;
}

.head1 {
	white-space: nowrap;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 17px;
	/* color: rgba(38, 11, 1, 1); */
}

.body, dl dd {
	display: block;
	margin-top: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: rgba(140, 133, 125, 1);
}

dl dd {
	margin-left: 0px;
}

.bodyhead, dl dt {
	white-space: nowrap;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	color: rgba(140, 133, 125, 1);
}

#confirm {
	/* 	margin-top: 10px; */
	white-space: nowrap;
	float: left;
	display: block;
	margin-left: 110px;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: rgba(140, 133, 125, 1);
}

#confirm span {
	display: block;
	margin-bottom: 10px;
}

.form {
	display: block;
	text-align: right;
}

label {
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: rgba(140, 133, 125, 1);
}

#btn {
	display: inline-block;
	margin-top: 30px;
	margin-left: 110px;
	cursor: pointer;
}

@media screen and (max-width: 1440px) {
	#section {
		max-width: 285px;
	}

	#beafamily_640_01 {
		width: 285px;
		margin-bottom: 40px;
	}

	.container {
		margin-bottom: 30px;
		display: block !important;
	}

	.part_icon {
		margin: 0 auto;
		float: initial !important;
		display: block;
		text-align: center;
	}

	dl {
		width: 279px !important;
		text-align: center;
		float: inherit;
		padding: 10px 3px;
	}

	.head {
		white-space: break-spaces;
		width: 281px;
		background-color: transparent;
		text-align: left;
		font-size: 16px;
	}

	.body, dl dd {
		white-space: initial;
		width: 281px;
		display: block;
		margin-top: 10px;
		font-size: 13px;
	}

	dl dd {
		margin-left: 0px;
		white-space: initial;
		width: 281px;
	}

	.bodyhead, dl dt {
		font-size: 14px;
	}

	#confirm {
		margin-left: 10px;
		font-size: 13px;
		display: block;
		width: 286px;
	}

	#confirm span {
		margin-bottom: 10px;
		display: block;
	}

	.form {
		display: inline-block;
		text-align: right;
		width: 286px;
	}

	label {
		display: inline-block;
		margin-top: 15px;
		font-size: 13px;
	}

	#btn {
		display: block;
		margin: 30px auto;
		text-align: center;
	}
}
