#visual {
  position: relative;
  background-image: url("../image/store_visual.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 285px;
  margin-top: 103.28px;
}

#headline {
  filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.902));
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  overflow: visible;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 43px;
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1440px) {
  #visual {
    height: 152px;
    margin-top: 52.7px;
  }

  #headline {
    top: 70px;
    font-size: 30px;
  }
}

#smallmenu {
  position: relative;
  width: 100%;
  height: 52px;
}

#home-black-18dp_cfg {
  position: absolute;
  width: 17.869px;
  height: 17.869px;
  left: 23.2%;
  top: 18px;
  overflow: visible;
}

#home {
  fill: transparent;
}

.home {
  overflow: visible;
  position: absolute;
  width: 17.869px;
  height: 17.869px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#home1 {
  fill: rgba(140, 133, 125, 1);
}

.home1 {
  overflow: visible;
  position: absolute;
  width: 14.891px;
  height: 12.657px;
  left: 1.489px;
  top: 2.233px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#home2 {
  fill: transparent;
  stroke: rgba(140, 133, 125, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.home2 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 12px;
  left: 24.7%;
  top: 21.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#smallmenu_cake {
  left: 25.2%;
  top: 17px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: rgba(140, 133, 125, 1);
}

#smallmenu_arrow01 {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 29.1%;
  top: 18px;
  overflow: visible;
}

#arrow1 {
  fill: rgba(140, 133, 125, 1);
}

.arrow1 {
  overflow: visible;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#arrow2 {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.arrow2 {
  overflow: visible;
  position: absolute;
  width: 7.303px;
  height: 4.941px;
  left: 6.186px;
  top: 7.512px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 1440px) {
  #smallmenu {
    margin: 0 auto;
    max-width: 300px;
    box-sizing: border-box;
  }

  #home-black-18dp_cfg {
    left: 0;
  }

  .home2 {
    left: 8%;
  }

  #smallmenu_cake {
    left: 15%;
  }

  #smallmenu_arrow01 {
    left: 45%;
  }

  #smallmenu_arrow02 {
    left: 90%;
  }
}

#searchform {
  position: relative;
  max-width: 600px !important;
  display: flex;
  text-align: center;
  margin: 100px auto !important;
  box-sizing: border-box;
}

#searchbar {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: rgba(38, 11, 1, 1);
  padding: 5px 15px;
}

input[type=text] {
  display: inline-block;
  width: 402px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../image/iconmonstr-magnifier-4.png');
  background-position: 350px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
}

@media screen and (max-width: 1440px) {
  #searchform {
    max-width: 600px !important;
    display: block;
    margin: 30px auto !important;
  }

  #searchbar {
    font-size: 18px;
    padding: 5px 15px;
  }

  input[type=text] {
    width: 287px;
    background-position: 250px 5px;
    padding: 5px 20px 5px 20px;
  }
}

#store {
  position: relative;
  max-width: 1200px;
  display: block;
  text-align: center;
  margin: 0 auto !important;
}

.mobile_br {
  display: none;
}

table {
  margin-bottom: 200px;
  border-collapse: collapse;
}

tr th:nth-child(5), tr td:nth-child(5) {
  border-right: 0px;
}

th {
  border-top: 2px solid rgba(38, 11, 1, 1);
  border-right: 2px solid rgba(38, 11, 1, 1);
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: rgba(38, 11, 1, 1);
  padding: 20px;
}

td {
  border-top: 1px solid rgba(140, 133, 125, 1);
  border-right: 1px solid rgba(140, 133, 125, 1);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: rgba(38, 11, 1, 1);
  padding: 30px 25px;
}

@media screen and (max-width: 1440px) {
  .blind {
    display: none;
  }

  #store {
    max-width: 286px;
  }

  .mobile_br {
    display: block;
  }

  table, td, tr {
    display: block;
  }

  table {
    margin-top: 0px
  }

  tr {
    text-align: left;
    width: 286px;
  }

  td {
    border-top: 0px solid rgba(38, 11, 1, 1);
    border-right: 0px solid rgba(140, 133, 125, 1);
    white-space: nowrap;
    padding: 5px 0;
    text-align: left;
  }

  td:nth-child(1) {
    color: rgba(38, 11, 1, 1);
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-top: 20px;
    border-top: 1px solid #8C857D !important;
  }

  tr:nth-child(2) td:nth-child(1) {
    border-top: 2px solid rgba(38, 11, 1, 1) !important;
  }

  td:nth-child(2) {
    color: #8C857D;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    white-space: break-spaces;
    text-align: left;
  }

  td:nth-child(3) {
    color: #8C857D;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    /*     margin-top: 50px;
    margin-left: -60px; */
  }

  td:nth-child(4) {
    display: block;
    /*     position: relative; */
    right: 0px;
    margin-right: 10px;
    float: right;
    text-align: right !important;
    margin-top: -110px;
    margin-left: 110px;
  }

  tr:nth-child(3) td:nth-child(4),
  tr:nth-child(4) td:nth-child(4) {
    margin-top: -90px;
  }

  tr:nth-child(6) td:nth-child(5) {
    border-bottom: 2px solid rgba(38, 11, 1, 1) !important;
    padding-bottom: 20px;
  }
}

.pagination {
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 1350px;
  left: 50%;
  transform: translateX(-50%);
}

.pagination a {
  color: rgba(38, 11, 1, 1);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}

.pagination a.active {
  background-color: #73352F;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

@media screen and (max-width: 1440px) {
  .pagination a {
    font-size: 10px;
  }
}
