#visual {
	position: relative;
	background-image: url("../image/store_sub_visual1.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 285px;
	margin-top: 103.28px;
}
@media screen and (max-width: 1440px) {
	#visual {
		height: 152px;
		margin-top: 52.7px;
	}
}

#smallmenu {
	position: relative;
	width: 100%;
	height: 52px;
}

#home-black-18dp_cfg {
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 23.2%;
	top: 18px;
	overflow: visible;
}

#home {
	fill: transparent;
}

.home {
	overflow: visible;
	position: absolute;
	width: 17.869px;
	height: 17.869px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home1 {
	fill: rgba(140, 133, 125, 1);
}

.home1 {
	overflow: visible;
	position: absolute;
	width: 14.891px;
	height: 12.657px;
	left: 1.489px;
	top: 2.233px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#home2 {
	fill: transparent;
	stroke: rgba(140, 133, 125, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.home2 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 12px;
	left: 24.7%;
	top: 21.5px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#smallmenu_cake {
	left: 25.2%;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	color: rgba(140, 133, 125, 1);
}

#smallmenu_arrow01 {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 29.1%;
	top: 18px;
	overflow: visible;
}

#arrow1 {
	fill: rgba(140, 133, 125, 1);
}

.arrow1 {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#arrow2 {
	fill: transparent;
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.arrow2 {
	overflow: visible;
	position: absolute;
	width: 7.303px;
	height: 4.941px;
	left: 6.186px;
	top: 7.512px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 1440px) {
	#smallmenu {
		margin: 0 auto;
		max-width: 300px;
		box-sizing: border-box;
	}

	#home-black-18dp_cfg {
		left: 0;
	}

	.home2 {
		left: 8%;
	}

	#smallmenu_cake {
		left: 15%;
	}

	#smallmenu_arrow01 {
		left: 45%;
	}

	#smallmenu_arrow02 {
		left: 90%;
	}
}

#order1 {
	position: relative;
	max-width: 1433px;
	box-sizing: border-box;
	margin: 0 auto;
}

#online {
	border-bottom: 2px solid rgba(38, 11, 1, 1);
	padding-bottom: 85px;
	margin-top: 85px;
	margin-bottom: 85px;
	width: 1433px;
	white-space: nowrap;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 53px;
	color: rgba(38, 11, 1, 1);
}

#special {
	margin-bottom: 50px;
	white-space: nowrap;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 43px;
	color: rgba(38, 11, 1, 1);
}

#use {
	display: block;
	border: 1px solid #8C857D;
	max-width: 1396px;
	width: 1396px;
	height: 825px;
	border-radius: 16px;
	margin: 0 auto !important;
	text-align: center;
	box-sizing: border-box;
}

dt span {
	display: inline-block;
	margin-top: 20px;
	white-space: nowrap;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 34px;
	color: rgba(38, 11, 1, 1);
}

dd {
	margin: 0;
}

dd img {
	width: 1396px !important;
	display: inline-block !important;
	margin: 0 auto !important;
	text-align: center !important;
	margin-top: 40px !important;
}

#ordernumber span {
	display: block;
	margin-left: 50px;
	margin-top: 30px;
	float: left;
	text-align: left !important;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: rgba(140, 133, 125, 1);
}

@media screen and (max-width: 1440px) {
	#order1 {
		max-width: 286px;
	}

	#online {
		padding-bottom: 29px;
		margin-top: 29px;
		margin-bottom: 29px;
		width: 285px;
		font-size: 18px;
	}

	#special {
		margin-bottom: 30px;
		font-size: 17px;
	}

	#use {
		max-width: 286px;
		height: 448px;
		border-radius: 10px;
	}

	dt span {
		margin-top: 20px;
		font-weight: 700;
		font-size: 14px;
	}

	dd img {
		width: 284px !important;
		display: inline-block !important;
		margin: 0 auto !important;
		text-align: center !important;
		margin-top: 25px !important;
	}

	#ordernumber span {
		margin-left: 25px;
		font-size: 13px;
		width: 237px;
	}
}

#order2 {
	display: block;
	background-color: #F5EDEF;
	position: relative;
	max-width: 100% !important;
	box-sizing: border-box !important;
	margin: 85px auto !important;
	margin-bottom: 0px !important;
	text-align: center;
	height: 1012px;
}

#order2head {
	padding-top: 50px;
	white-space: nowrap;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 43px;
	color: rgba(115, 2, 32, 1);
}

#delivery, #pickup {
	max-width: 1433px !important;
	box-sizing: border-box !important;
	margin: 85px auto !important;
	display: inline-block !important;
	text-align: center !important;
}

#delivery {
	margin-right: 0 !important;
}

.ordericon {
	display: inline-block !important;
	float: left !important;
	margin-right: 50px;
}

.headcon span {
	display: block !important;
	white-space: nowrap;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	color: #8C857D;
}

.ordertext {
	/* 	width: 347px !important; */
	display: block !important;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	color: #8C857D;
}

#bodyconwrap {
	display: grid;
	padding: 10px;
	grid-template-columns: 1fr 1fr;
	max-width: 1433px;
	box-sizing: border-box;
	margin: 0 auto;
}

.bodycon {
	background-color: #fff;
	border: 1px solid #730220;
	border-radius: 10px;
	padding: 63px 0;
	margin: 10px;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	color: rgba(115, 2, 32, 1);
}

#bigorderbtn {
	cursor: pointer;
	max-width: 178.26px;
	box-sizing: border-box;
	margin: 20px auto;
	display: block;
}

@media screen and (max-width: 1440px) {
	#order2 {
		height: 1318px;
	}

	#order2head {
		font-size: 18px;
	}

	#delivery, #pickup {
		max-width: 286px !important;
		box-sizing: border-box !important;
		margin: 50px auto !important;
		display: block !important;
		text-align: center !important;
	}

	#delivery {
		margin-right: inherit !important;
	}

	.ordericon {
		width: 163px !important;
		display: block !important;
		float: inherit !important;
		margin-right: 0px;
		text-align: center !important;
	}

	.ordericon img {
		display: block !important;
		text-align: center !important;
		padding: 0 auto !important;
		margin-left: 30px;
		box-sizing: border-box;
	}

	#pickup .ordericon img {
		display: block !important;
		text-align: center !important;
		padding: 0 auto !important;
		margin-left: 50px;
		box-sizing: border-box;
	}

	.headcon span {
		font-size: 16px;
		text-align: center;
		margin-top: 20px;
	}

	.ordertext {
		font-size: 13px;
		text-align: center;
	}

	#bodyconwrap {
		display: grid;
		grid-template-columns: 1fr;
		margin-top: -20px;
	}

	.bodycon {
		font-size: 13px;
		padding: 30px;
		border-radius: 6px;
	}

	#order2 #bigorderbtn img {
		width: 78.26px;
		margin-bottom: 170px;
	}
}
