@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: "Louis George Café";
  src: url("../font/Louis_George_Cafe.eot?") format("eot"), url("../font/Louis_George_Cafe.woff") format("woff"), url("../font/Louis_George_Cafe.ttf") format("truetype"), url("../font/Louis_George_Cafe.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  margin: 0;
  padding: 0;
}

.inner {
  max-width: 1640px;
  margin: 0 auto;
  box-sizing: border-box;
  /*다양한 브라우저 크기 동일시키기*/
}

#gnblogo {
  float: left;
  margin-top: 8px;
}

.line-1 {
  border-right: 1px solid #8C857D;
  height: 18px;
  margin: 10px 0;
}

.icon li {
  display: inline-block;
  float: right;
  margin: 10px;
}

.icon #Mall {
  margin-top: 18px;
}

.icon #Mall a {
  width: 135px;
  font-family: 'Louis George Café';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: rgba(140, 133, 125, 1);
}

.icon #Mall a:hover {
  color: #730220;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 103.29px;
  background-color: white;
  z-index: 5;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: rgba(115, 2, 32, 1);
}

a:hover {
  color: #8C857D;
}

.tab {
  margin-left: 14%;
}

.tab li {
  display: inline-block;
  font-family: 'Louis George Café';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
}

.tab li a {
  display: block;
  padding: 20px 0;
  margin-right: 73px;
}

.dropdown-tab-content {
  float: left;
  text-align: left;
  margin-right: 0px;
  margin-top: 90px;
  padding: 0;
  color: #fff;
  font-family: 'Louis George Café';
  font-style: normal;
  font-weight: 500;
}

.tabcontent {
  font-size: 31px;
  display: block;
}

.bodymenu {
  font-size: 18px;
  display: block;
}

.overlay {
  background-color: #730220;
  position: fixed;
  top: 103.29px;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  z-index: 1;
}

header:hover .overlay {
  bottom: 0;
  height: 275px;
}

.overlay .inner .row {
  margin-top: 10px;
  margin-left: 16.5%;
  padding: 0px;
}

.row li {
  display: inline-block;
  vertical-align: top;
  margin-right: 70px;
  text-align: left;
}

.row li a {
  display: block;
  padding: 2px 0;
  font-style: normal;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.row .column a:hover {
  color: #8C857D;
}

.smallname {
  display: block;
  margin-top: 25px;
}

.mobilenavbar {
  display: none;
}

.mobile {
  display: none !important;
}

#menu-container {
  display: none;
}

@media screen and (max-width: 1440px) {
  .navbar, .overlay {
    display: none;
  }

  .mobile {
    display: block !important;
  }

  .desktop {
    display: none !important;
  }

  #menu-container {
    display: block;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  #menu-wrapper {
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    height: 52.71px;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
  }

  #menu-wrapper #hamburger-menu {
    position: relative;
    width: 25px;
    height: 20px;
    margin: 0px;
    left: 90%;
    top: 16px
  }

  #menu-wrapper #mobilegnblogo {
    position: absolute;
    display: inline-block;
    width: 65px;
    top: 16px;
    left: 30px;
  }

  #menu-wrapper #hamburger-menu span {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    color: black;
    background-color: #8C857D;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }

  #menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
  }

  #menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 9px;
  }

  #menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 18px;
  }

  #menu-wrapper #hamburger-menu.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    left: -60px;
  }

  #menu-wrapper #hamburger-menu.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  #menu-container .menu-list .menu-submenu {
    padding: 0;
  }

  #menu-container .menu-list .menu-submenu li a {
    display: block;
    padding: 10px 0 10px 20px;
  }

  #menu-container .menu-list .menu-submenu li a:hover {
    background: #eee;
  }

  #menu-container .menu-list {
    margin-top: 0px;
    padding-left: 0;
    display: block;
    position: fixed;
    /*     max-width: 100%; */
    height: 100%;
    width: 264px;
    background: #730220;
    box-shadow: rgba(100, 100, 100, 0.2) 6px 2px 10px;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    right: -100%;
  }

  #menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
    font-size: 16px;
    padding: 20px;
    text-transform: uppercase;
    border-top: 1px solid #dbdcd2;
  }

  #menu-container .menu-list li:first-of-type {
    border-top: 0;
  }

  .accordion-toggle, .accordion-content {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    letter-spacing: 1px;
  }

  .accordion-content {
    display: none;
  }

  .menu-link {
    font-family: 'Louis George Café';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
  }

  .head {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #73352F;
  }

  .accordion-toggle a:before, .accordion-toggle a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background-color: #fff;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s ease-out;
  }

  .accordion-toggle a:before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 1;
    z-index: 2;
  }

  .accordion-toggle.active-tab {
    background: #730220;
    transition: all 0.3s ease;
  }

  .accordion-toggle a.active:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #fff !important;
  }

  .accordion-toggle a.active:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #fff !important;
    opacity: 0;
  }
}

#menu_visual {
  position: absolute;
  width: 100%;
  height: 285px;
  overflow: visible;
}
.menu_visual {
  position: absolute;
  width: 100%;
  height: 285px;
  left: 0%;
  top: 103px;
  overflow: visible;
}

#headline {
  filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.902));
  left: 46.9%;
  top: 214px;
  position: absolute;
  overflow: visible;
  width: 120px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 43px;
  color: rgba(255, 255, 255, 1);
}

#smallmenu {
  position: absolute;
  width: 100%;
  height: 52px;
  left: 0.2%;
  top: 388px;
  overflow: visible;
}
#home-black-18dp_cfg {
  position: absolute;
  width: 17.869px;
  height: 17.869px;
  left: 23.2%;
  top: 18px;
  overflow: visible;
}
#home {
  fill: transparent;
}
.home {
  overflow: visible;
  position: absolute;
  width: 17.869px;
  height: 17.869px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#home1 {
  fill: rgba(140,133,125,1);
}
.home1 {
  overflow: visible;
  position: absolute;
  width: 14.891px;
  height: 12.657px;
  left: 1.489px;
  top: 2.233px;
  transform: matrix(1,0,0,1,0,0);
}
#home2 {
  fill: transparent;
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.home2 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 12px;
  left: 24.7%;
  top: 21.5px;
  transform: matrix(1,0,0,1,0,0);
}
#smallmenu_cake {
  left: 25.2%;
  top: 17px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: rgba(140,133,125,1);
}
#smallmenu_classic {
  left: 31.1%;
  top: 17px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: rgba(140,133,125,1);
}
#smallmenu_arrow01 {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 29.1%;
  top: 18px;
  overflow: visible;
}
#arrow1 {
  fill: rgba(140,133,125,1);
}
.arrow1 {
  overflow: visible;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#arrow2 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.arrow2 {
  overflow: visible;
  position: absolute;
  width: 7.303px;
  height: 4.941px;
  left: 6.186px;
  top: 7.512px;
  transform: matrix(1,0,0,1,0,0);
}

#line01 {
  fill: transparent;
  stroke: rgba(38,11,1,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.line01 {
  overflow: visible;
  position: absolute;
  width: 52%;
  height: 2px;
  left: 454px;
  top: 638.5px;
  transform: matrix(1,0,0,1,0,0);
}
#store01 {
  left: 23.6%;
  top: 565px;
  position: absolute;
  overflow: visible;
  width: 126px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  color: rgba(38,11,1,1);
}
#storeimg {
  position: absolute;
  width: 51.7%;
  height: 721px;
  left: 454.5px;
  top: 673px;
  overflow: visible;
}
#store01add {
  left: 35.5%;
  top: 1461px;
  position: absolute;
  overflow: visible;
  width: 431px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: rgba(140,133,125,1);
}
#add01 {
  left: 26%;
  top: 1458px;
  position: absolute;
  overflow: visible;
  width: 32px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: rgba(38,11,1,1);
}
#tel {
  left: 26%;
  top: 1522px;
  position: absolute;
  overflow: visible;
  width: 48px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: rgba(38,11,1,1);
}
#service {
  left: 26%;
  top: 1593px;
  position: absolute;
  overflow: visible;
  width: 118px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: rgba(38,11,1,1);
}
#Icon_material-location-on {
  fill: rgba(38,11,1,1);
}
.Icon_material-location-on {
  overflow: visible;
  position: absolute;
  width: 21px;
  height: 30px;
  left: 23.8%;
  top: 1457.5px;
  transform: matrix(1,0,0,1,0,0);
}
#telnumber {
  left: 35.5%;
  top: 1525px;
  position: absolute;
  overflow: visible;
  width: 97px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: rgba(140,133,125,1);
}
#Icon_awesome-phone-alt {
  fill: rgba(38,11,1,1);
}
.Icon_awesome-phone-alt {
  overflow: visible;
  position: absolute;
  width: 21.711px;
  height: 21.711px;
  left: 23.8%;
  top: 1525px;
  transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-store {
  fill: rgba(38,11,1,1);
}
.Icon_awesome-store {
  overflow: visible;
  position: absolute;
  width: 25.498px;
  height: 21.196px;
  left: 23.7%;
  top: 1596.855px;
  transform: matrix(1,0,0,1,0,0);
}
#ableservice {
  position: absolute;
  width: 358px;
  height: 22px;
  left: 35.5%;
  top: 1596px;
  overflow: visible;
}
#WIFI {
  left: 12%;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 32px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: rgba(140,133,125,1);
}
#PARKING {
  left: 43.2%;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: rgba(140,133,125,1);
}
#PICK_UP {
  left: 83.7%;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 59px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: rgba(140,133,125,1);
}
#parking {
  fill: rgba(140,133,125,1);
}
.parking {
  overflow: visible;
  position: absolute;
  width: 14.163px;
  height: 19.633px;
  left: 33.7%;
  top: 2px;
  transform: matrix(1,0,0,1,0,0);
}
#gift-sharp {
  position: absolute;
  width: 20.089px;
  height: 21.633px;
  left: 72%;
  top: 0px;
  overflow: visible;
}
#_15_bmr {
  fill: transparent;
}
._15_bmr {
  overflow: visible;
  position: absolute;
  width: 3.285px;
  height: 3.285px;
  left: 11.107px;
  top: 2.123px;
  transform: matrix(1,0,0,1,0,0);
}
#_16 {
  fill: transparent;
}
._16 {
  overflow: visible;
  position: absolute;
  width: 3.284px;
  height: 3.285px;
  left: 5.698px;
  top: 2.123px;
  transform: matrix(1,0,0,1,0,0);
}
#_17 {
  fill: rgba(140,133,125,1);
}
._17 {
  overflow: visible;
  position: absolute;
  width: 20.089px;
  height: 10.816px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#_18 {
  fill: rgba(140,133,125,1);
}
._18 {
  overflow: visible;
  position: absolute;
  width: 7.437px;
  height: 9.272px;
  left: 11.107px;
  top: 12.361px;
  transform: matrix(1,0,0,1,0,0);
}
#_19 {
  fill: rgba(140,133,125,1);
}
._19 {
  overflow: visible;
  position: absolute;
  width: 7.437px;
  height: 9.272px;
  left: 1.545px;
  top: 12.361px;
  transform: matrix(1,0,0,1,0,0);
}
#wifi-alt {
  fill: rgba(140,133,125,1);
}
.wifi-alt {
  overflow: visible;
  position: absolute;
  width: 24.206px;
  height: 17.173px;
  left: 0%;
  top: 3px;
  transform: matrix(1,0,0,1,0,0);
}
#map {
  position: absolute;
  width: 1012px;
  height: 412px;
  left: 23.6%;
  top: 1685px;
  overflow: visible;
}
#line02 {
  fill: transparent;
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.line02 {
  overflow: visible;
  position: absolute;
  width: 993px;
  height: 1px;
  left: 455px;
  top: 1505.5px;
  transform: matrix(1,0,0,1,0,0);
}
#line03 {
  fill: transparent;
  stroke: rgba(140,133,125,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.line03 {
  overflow: visible;
  position: absolute;
  width: 993px;
  height: 1px;
  left: 459px;
  top: 1569.5px;
  transform: matrix(1,0,0,1,0,0);
}
#orderbtn01 {
  position: absolute;
  width: 77px;
  height: 33px;
  left: 1367px;
  top: 582px;
  overflow: visible;
}

#footer {
  position: absolute;
  width: 100%;
  height: 368px;
  left: 0%;
  top: 2222px;
  overflow: visible;
}

#footerbg {
  fill: rgba(38, 11, 1, 1);
}

.footerbg {
  overflow: visible;
  position: absolute;
  width: 100%;
  height: 338px;
  left: 0%;
  top: 31px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#footermenu {
  position: absolute;
  width: 1093px;
  height: 168px;
  left: 21.5%;
  top: 94px;
  overflow: visible;
}

#footermenu01 {
  left: 5px;
  top: 8px;
  position: absolute;
  overflow: visible;
  width: 119px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

#footermenu02 {
  left: 155px;
  top: 8px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

#footermenu03 {
  left: 245px;
  top: 8px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

#insta {
  position: absolute;
  width: 39.957px;
  height: 39.743px;
  left: 96.3%;
  top: 0%;
  overflow: visible;
}

#content {
  position: absolute;
  width: 801px;
  height: 88px;
  left: 17%;
  top: 80px;
  overflow: visible;
}

#add {
  left: 0%;
  top: 27px;
  position: absolute;
  overflow: visible;
  width: 579px;
  white-space: nowrap;
  line-height: 29px;
  margin-top: -7.5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

#Copyright {
  opacity: 0.1;
  left: 0%;
  top: 64px;
  position: absolute;
  overflow: visible;
  width: 802px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

#business {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 690px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -3.5px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

#qna {
  position: absolute;
  width: 198px;
  height: 38px;
  left: 833px;
  top: 1px;
  overflow: visible;
}

#footerline {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.footerline {
  overflow: visible;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0%;
  top: 56px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#topbtn {
  left: 48.3%;
  top: 20px;
  position: absolute;
  overflow: visible;
  width: 31px;
}

#topbtn.show {
  opacity: 1;
  overflow: visible;
}

#footerlogo {
  position: absolute;
  width: 141.469px;
  height: 49.801px;
  left: 22%;
  top: 175px;
  overflow: visible;
}
