#visual {
  position: relative;
  background-image: url("../image/menu610.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 285px;
  margin-top: 103.28px;
}
@media screen and (max-width: 1440px) {
  #visual {
    height: 152px;
    margin-top: 52.7px;
  }
}

#smallmenu {
  position: relative;
  width: 100%;
  height: 52px;
}

#home-black-18dp_cfg {
  position: absolute;
  width: 17.869px;
  height: 17.869px;
  left: 23.2%;
  top: 18px;
  overflow: visible;
}

#home {
  fill: transparent;
}

.home {
  overflow: visible;
  position: absolute;
  width: 17.869px;
  height: 17.869px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#home1 {
  fill: rgba(140, 133, 125, 1);
}

.home1 {
  overflow: visible;
  position: absolute;
  width: 14.891px;
  height: 12.657px;
  left: 1.489px;
  top: 2.233px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#home2 {
  fill: transparent;
  stroke: rgba(140, 133, 125, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.home2 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 12px;
  left: 24.7%;
  top: 21.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#smallmenu_cake {
  left: 25.2%;
  top: 17px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: rgba(140, 133, 125, 1);
}

#smallmenu_classic {
  left: 31.1%;
  top: 17px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: rgba(140, 133, 125, 1);
}

#smallmenu_arrow01 {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 29.1%;
  top: 18px;
  overflow: visible;
}

#arrow1 {
  fill: rgba(140, 133, 125, 1);
}

.arrow1 {
  overflow: visible;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#arrow2 {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.arrow2 {
  overflow: visible;
  position: absolute;
  width: 7.303px;
  height: 4.941px;
  left: 6.186px;
  top: 7.512px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 1440px) {
  #smallmenu {
    margin: 0 auto;
    max-width: 300px;
    box-sizing: border-box;
  }

  #home-black-18dp_cfg {
    left: 0;
  }

  .home2 {
    left: 8%;
  }

  #smallmenu_cake {
    left: 15%;
  }

  #smallmenu_classic {
    left: 60%;
  }

  #smallmenu_arrow01 {
    left: 45%;
  }

  #smallmenu_arrow02 {
    left: 90%;
  }
}

#cake {
  position: relative;
  max-width: 1370px;
  box-sizing: border-box;
  margin: 50px auto;
  text-align: center !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#cake article {
  padding-bottom: 50px;
  margin: 0 auto;
}

#cake article a span {
  display: block;
  margin-bottom: 20px !important;
  white-space: break-spaces;
  text-align: center !important;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: rgba(38, 11, 1, 1);
}

#cake article a span:nth-of-type(2) {
  display: block;
  width: 250px;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #8C857D;
}

#cake article a span:nth-of-type(3) {
  font-size: 22px;
  color: rgba(38, 11, 1, 1);
}

.line {
  border: 2px solid #730220;
  width: 28px;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 1440px) {
  #cake {
    max-width: 350px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #cake article a span {
    white-space: initial;
    margin-bottom: 18px !important;
    font-size: 16px;
    width: 140px !important;
    height: 32px !important;
    line-height: 20px !important;
  }

  #cake article a span:nth-of-type(2) {
    width: 140px !important;
    font-size: 14px;
    margin-bottom: 40px !important;
    display: block !important;
  }

  #cake article a span.marginBottom {
    display: block !important;
    margin-bottom: 50px !important;
  }

  #cake article a span:nth-of-type(3) {
    font-size: 14px;
    color: rgba(38, 11, 1, 1);
  }

  #cake article a img {
    width: 130px;
  }

  .line {
    margin-bottom: 15px;
  }
}
